// .alert,
.piq-alert {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 2px;
  vertical-align: middle;
  position: relative;
  border-bottom-width: 2px;

  &.alert-danger {
    background-color: rgba($piq-red, 0.04);
    border-color: rgba($piq-red, 0.35);
    color: $piq-red-dark;
  }
  &.alert-success {
    background-color: rgba($piq-green, 0.04);
    border-color: rgba($piq-green, 0.35);
    color: $piq-green-dark;
  }
  &.alert-warning {
    background-color: rgba($piq-yellow, 0.05);
    border-color: $piq-yellow-dark;
    color: $piq-yellow-darker;
  }
  &.alert-info {
    background-color: rgba($piq-brand-primary, 0.04);
    border-color: rgba($piq-brand-primary, 0.35);
    color: $piq-brand-dark;
  }

  >.close {
    width: 24px;
    height: 24px;
    padding: 1px 0 3px;
    outline: none !important;
    border-radius: 2px;
    opacity: 0.6;

    text-shadow: none;
    line-height: 20px;
    text-align: center;
    @include transition-duration-s();

    &:hover,
    &:focus {
      background-color: rgba($piq-gray-base,0.1);
      color: inherit;
      opacity: 1;
    }
    &:active {
      background-color: rgba($piq-gray-base,0.15);
    }
  }
}
