.piq-badge {
  height:24px;
  min-width: 24px;
  font-size: $piq-font-size-xs;
  line-height: $piq-font-size-xs;
  font-weight: $piq-font-weight-bold;
  text-align: center;
  padding:6px 6px 7px;
  border-radius: 2px;
  background-color: $piq-gray-10;
  color: $piq-gray-base;

  @include transition-duration-s();

  .fa {
    margin-right: 5px;
    line-height: $piq-font-size-xs;
  }

  .btn & { //Fix for badges inside of buttons
    vertical-align: middle;
    margin: -5px -8px -6px 10px;

    &.ng-hide {
      width:0;
      min-width: 0;
      opacity: 0;
    }

    &:first-child {
      margin: -5px 10px -6px -8px;
    }
  }

  &:hover {
    background-color: $piq-gray-15;
  }

  &.badge-primary {
    background-color: $piq-brand-primary;
    color: $piq-white;
    &:hover {
      background-color: $piq-brand-dark;
    }
  }
  &.badge-success {
    background-color: $piq-green;
    color: $piq-white;
    &:hover {
      background-color: $piq-green-dark;
    }
  }
  &.badge-warning {
    background-color: $piq-yellow;
    color: $piq-gray-base;
    &:hover {
      background-color: $piq-yellow-dark;
    }
  }
  &.badge-danger {
    background-color: $piq-red;
    color: $piq-white;
    &:hover {
      background-color: $piq-red-dark;
    }
  }

  &[class*="badge-outline"]	{
    background-color: transparent;
    padding: 5px 5px 6px;
  }
  &.badge-outline {
    border: solid 1px $piq-gray-25;
    color: $piq-gray-base;
    &:hover {
      background-color: $piq-gray-50;
      border-color: $piq-gray-50;
      color: $piq-white;
    }
  }
  &.badge-outline-primary {
    border: solid 1px $piq-brand-primary;
    color: $piq-brand-primary;
    &:hover {
      background-color: $piq-brand-primary;
      color: $piq-white;
    }
  }
  &.badge-outline-success {
    border: solid 1px $piq-green;
    color: $piq-green;
    &:hover {
      background-color: $piq-green;
      color: $piq-white;
    }
  }
  &.badge-outline-warning {
    border: solid 1px $piq-yellow-darker;
    color: $piq-yellow-darker;
    &:hover {
      background-color: $piq-yellow-darker;
      color: $piq-white;
    }
  }
  &.badge-outline-danger {
    border: solid 1px $piq-red;
    color: $piq-red;
    &:hover {
      background-color: $piq-red;
      color: $piq-white;
    }
  }
  &.badge-square {
    width:24px;
    height:24px;
    padding-left:0;
    padding-right:0;
    .fa {
      margin:0;
    }
  }
}
