.piq-breadcrumb {
    padding: 0;
    background-color: transparent;
    margin-bottom: 5px;

    > li > a {
      color: $piq-gray-50;
    }
    > li.active {
      color: $piq-gray-base;
    }
    > li + li:before {
      font-family: FontAwesome;
      content: "\f105";
      padding: 0 5px;
      color: $piq-gray-25;
    }
}
