.piq-btn.btn{
  text-align: center;
  text-transform: none;

  padding: 9px 12px;
  margin:0;
  min-height:0;
  min-width: 80px;

  border: 1px solid;
  border-radius: 2px;
  outline:none !important;

  color: $piq-gray-base;
  background-color: $piq-gray-05;
  border-color: $piq-gray-25;

  font-size: $piq-font-size-s;
  line-height: $piq-line-height-s;
  font-weight: $piq-font-weight-medium;

  @include transition-duration-s();

  .fa {
    width:12px;
    text-align: center;
    margin-right: 8px;
    color: $piq-gray-50;
    @include transition-duration-s();
  }

  .caret {
    color: $piq-gray-50;
  }

  .loader  {
    display: inline-block !important;
    margin-right:10px;
    width: 14px;
    @include transition-duration-m();

    .fa {
      animation-timing-function: cubic-bezier(0.520, 0.165, 0.490, 0.835);
      -webkit-animation-timing-function: cubic-bezier(0.520, 0.165, 0.490, 0.835);
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      margin-right: 0;
    }

    &.ng-hide {
      width: 0px;
      opacity: 0;
      margin-right: 0;
    }
  }

  &.btn-sm {
    padding: 4px 8px;
    min-width: 0;
    font-size: $piq-font-size-xs;
    line-height: $piq-line-height-xs;
    font-weight: $piq-font-weight-bold;

    &.btn-square { //Quickfix for square button
      width: 24px;
      padding: 4px 0;
    }
  }
  &.btn-lg {
    padding: 11px 16px;
    font-size: $piq-font-size-m;
    line-height: $piq-line-height-m;
    font-weight: $piq-font-weight-bold;

    .fa,
    .caret {
      margin-right: 12px;
    }
    &.btn-square { //Quickfix for square button
      width: 44px;
      padding: 11px 0;
    }
  }

  &.btn-square {
    width: 34px;
    min-width: 0;
    padding: 9px 0;
    text-align: center;
    .fa,
    .caret {
      font-size: $piq-font-size-m;
      margin:0;
      color: $piq-gray-base;
    }
  }

  &:hover,
  &:focus {
    background-color: $piq-gray-10;
    border-color: $piq-gray-25;
  }
  &:active {
    background-color: $piq-gray-15;
    border-color: $piq-gray-25;
  }

  &.btn-primary {
    color: $piq-white;
    background-color: $piq-brand-primary;
    border-color: $piq-brand-dark;
    .fa,
    .caret {
      color: $piq-white;
    }
    &:hover,
    &:focus {
      background-color: $piq-brand-dark;
      border-color: $piq-brand-dark;
    }
    &:active {
      background-color: $piq-brand-darker;
      border-color: $piq-brand-darker;
    }
  }

  &.btn-success {
    color: $piq-white;
    background-color: $piq-green;
    border-color: $piq-green-dark;
    .fa,
    .caret {
      color: $piq-white;
    }
    &:hover,
    &:focus {
      background-color: $piq-green-dark;
      border-color: $piq-green-dark;
    }
    &:active {
      background-color: $piq-green-darker;
      border-color: $piq-green-darker;
    }
  }

  &.btn-danger {
    color: $piq-white;
    background-color: $piq-red;
    border-color: $piq-red-dark;
    .fa,
    .caret {
      color: $piq-white;
    }
    &:hover,
    &:focus {
      background-color: $piq-red-dark;
      border-color: $piq-red-dark;
    }
    &:active {
      background-color: $piq-red-darker;
      border-color: $piq-red-darker;
    }
  }

  &.btn-warning {
    color: $piq-gray-base;
    background-color: $piq-yellow;
    border-color: $piq-yellow-dark;
    &:hover,
    &:focus {
      color: $piq-gray-base;
      background-color: $piq-yellow-dark;
      border-color: $piq-yellow-dark;
    }
    &:active {
      color: $piq-gray-base;
      background-color: $piq-yellow-darker;
      border-color: $piq-yellow-darker;
    }
  }

  &.btn-ghost {
    color: $piq-white;
    background-color: transparent;
    border-color: $piq-white-50;
    .fa,
    .caret {
      color: $piq-white-50;
      width:12px;
      text-align: center;
    }
    &.btn-square .fa,
    .caret {
      color: $piq-white;
    }
    &:hover,
    &:focus {
      color: $piq-gray-base;
      background-color: $piq-white;
      border-color: $piq-white;
      .fa,
      .caret {
        color: $piq-gray-base;
      }
    }
    &:active {
      color: $piq-gray-base;
      background-color: $piq-gray-05;
      border-color: $piq-gray-05;
      .fa,
      .caret {
        color: $piq-gray-base;
      }
    }
  }
  &.btn-transparent {
    color: $piq-gray-base;
    background-color: transparent;
    border-color: transparent;
    &:hover,
    &:focus {
      background-color: $piq-gray-10;
    }
    &:active {
      background-color: $piq-gray-15;
    }
    .fa,
    .caret {
      color: $piq-gray-base;
    }
  }
  &.btn-transparent-ghost {
    color: $piq-white;
    background-color: transparent;
    border-color: transparent;
    &:hover,
    &:focus {
      background-color: $piq-white-10;
    }
    &:active {
      background-color: $piq-white-25;
      color: $piq-white;
    }
    .fa,
    .caret {
      color: $piq-white;
    }
  }
  &.btn-highlight-primary {
    .fa {
      color: $piq-brand-primary;
    }
    &:hover {
      color: $piq-white;
      background-color: $piq-brand-primary;
      border-color: $piq-brand-dark;
      .fa {
        color: $piq-white;
      }
    }
    &:active {
      color: $piq-white;
      background-color: $piq-brand-dark;
      border-color: $piq-brand-darker;
      .fa {
        color: $piq-white;
      }
    }
  }
  &.btn-highlight-success {
    .fa {
      color: $piq-green;
    }
    &:hover {
      color: $piq-white;
      background-color: $piq-green;
      border-color: $piq-green-dark;
      .fa {
        color: $piq-white;
      }
    }
    &:active {
      color: $piq-white;
      background-color: $piq-green-dark;
      border-color: $piq-green-darker;
      .fa {
        color: $piq-white;
      }
    }
  }
  &.btn-highlight-danger {
    .fa {
      color: $piq-red;
    }
    &:hover {
      color: $piq-white;
      background-color: $piq-red;
      border-color: $piq-red-dark;
      .fa {
        color: $piq-white;
      }
    }
    &:active {
      color: $piq-white;
      background-color: $piq-red-dark;
      border-color: $piq-red-darker;
      .fa {
        color: $piq-white;
      }
    }
  }
  &.btn-highlight-warning {
    .fa {
      color: $piq-yellow-darker;
    }
    &:hover {
      color: $piq-gray-base;
      background-color: $piq-yellow;
      border-color: $piq-yellow-dark;
      .fa {
        color: $piq-gray-base;
      }
    }
    &:active {
      color: $piq-gray-base;
      background-color: $piq-yellow-dark;
      border-color: $piq-yellow-darker;
      .fa {
        color: $piq-gray-base;
      }
    }
  }
  &[disabled] {
    opacity: 0.4;
  }
}


.btn-group-addon {
  border-radius: 2px;
  cursor: default;

  &.btn:hover,
  &.btn:active {
    color: $piq-gray-base;
    background-color: $piq-gray-05;
    border-color: $piq-gray-25;
  }

  &.btn-ghost:hover,
  &.btn-ghost:active {
    color: $piq-white;
    background-color: transparent;
    border-color: $piq-white-50;
  }
}
