
.datepicker {
  table {
    tr td,
    tr th {
      border-radius: 2px;

      span {
        border-radius: 2px;
      }
    }

    tr td.active.active,
    tr td span.active.active {
      background: $piq-brand-primary;
      border-color: $piq-brand-dark;
      .fa,
      .caret {
        color: $piq-white;
      }
      &:hover,
      &:focus {
        background: $piq-brand-dark;
        border-color: $piq-brand-dark;
      }
      &:active,
      &:visited {
        background: $piq-brand-darker;
        border-color: $piq-brand-darker;
      }
    }

    tr td.day,
    tr td span,
    tr:first-child th {
      &:hover {
        background: $piq-gray-10;
      }
      &:active {
        background: $piq-gray-25;
      }
    }
  }
}
