// .dropdown-toggle,
.dropdown-toggle { // Overrides for the .btn element which is the dropdown-toggle
  text-align: left;
  padding-right: 16px;

  &:not(.btn-square) .fa-caret-down,
  &:not(.btn-square) .caret {
    position: relative;
    float: right;
    right:-6px;
    top:2px;
    margin:0;
  }
  &:not(.btn-square) .caret {
    margin: 4px 2px;
  }
}

// .dropdown-menu,
.dropdown-menu { //Basic styles for all dropdown-menus
  background: $piq-white;
  border: 1px solid $piq-gray-25;
  border-radius: 2px;
  @include box-shadow(0 2px 2px 0 rgba($piq-gray-50,0.33));
  @include transition-duration-s();
}

// .dropdown-menu:not(.datepicker),
.piq-dropdown-menu:not(.datepicker),
.piq-typeahead .dropdown-menu:not(.datepicker) { //Specific styles for the dropdown-menu
  min-width: 100%;
  max-height: 240px;
  display: block;
  padding: 8px 0;
  overflow: auto;

  li {
    a {
      font-size: $piq-font-size-m;
      line-height: $piq-line-height-m;
      padding: 3px 12px 3px;
      @include transition(none);

      &:hover,
      &:focus {
        background-color: $piq-gray-05;
      }
      &:active {
        background-color: $piq-gray-10;
      }

      .fa {
        color:$piq-gray-50;
        padding:1px 0;
        margin-right: -20px;
        margin-top: 1px;
      }
    }
    &.destructive a{
      color: $piq-red;
      .fa {
        color:inherit;
      }
      &:hover {
        color: $piq-white;
        background-color: $piq-red;
      }
      &:active {
        color: $piq-white;
        background-color: $piq-red-dark;
      }

    }
    &.active a {
      color:$piq-white;
      background-color: $piq-brand-primary;

      &:hover {
        background-color: $piq-brand-primary;
      }
      &:active {
        background-color: $piq-brand-dark;
      }
    }
    &.disabled a,
    &[disabled] a {
      color: $piq-gray-25;
      &:hover,
      &:active {
        color: $piq-gray-25;
        background-color: $piq-light-gray;
      }
    }
    &.divider {
      margin: 5px 0;
    }
    &.info {
      font-size: $piq-font-size-m;
      line-height: $piq-line-height-m;
      padding: 6px 12px 6px;
      color: $piq-gray-60;
      font-style: italic;
      min-width: 200px;
    }
  }

  &.dropdown-menu-big { //Big dropdowns are static actions dropdowns
    max-height: none;
    li a,
    li.info {
      padding: 5px 40px 5px 20px;
    }
  }
}

// .dropdown,
.piq-dropdown { // Animation states for the dropdown menu
  .dropdown-menu {
    @include transform(translateY(-4px));
    opacity: 0;
    pointer-events: none;

    li {
      @include transform(translateY(-8px));
      @include transition-duration-m();
    }
  }
  &.open .dropdown-menu {
    pointer-events: all;
    @include transform(translateY(0));
    opacity: 1;

    li {
      @include transform(translateY(0));
    }
  }
}

// .ui-select-container,
.piq-ui-select { //UI select dropdowns. Please use Bootstrap-theme!
  *:not(.form-control) {
    outline:none;
    @include box-shadow(none);
  }

  .form-control {
    @extend .piq-form-control;
    border-radius: 2px;
  }

  .ui-select-match {
    .ui-select-toggle {
      border-radius: 2px;
      font-weight: $piq-font-weight-regular;
      &:hover {
        background-color: $piq-white;
      }
      .ui-select-match-text {
        width: auto;
        padding:0;
        > span {
          line-height: $piq-line-height-s;
        }
      }
      .ui-select-placeholder {
        line-height: $piq-line-height-s;
      }
      .caret {
        right: 12px;
        margin-top: -1px;
        color: $piq-gray-50;
        border-top-color: $piq-gray-50;
      }
      a.btn {
        display: block;
        height: 30px;
        width: 30px;
        min-width: 0;
        padding: 9px;
        font-size: $piq-font-size-xs;
        line-height: $piq-font-size-s;
        text-align: center;
        right: -9px;
        top: 1px;
        margin:0;
        border:none;
        border-radius: 50%;
        background-color: $piq-white;
        color: $piq-gray-50;
        @include transition-duration-m();
        @include transform(scale(1));
        opacity: 1;


        &:hover {
          color: $piq-gray-base;
        }
        &:focus {
          background-color: $piq-gray-05;
        }
        &.ng-hide:not(.ng-hide-animate) {
          @include transform(scale(0.5));
          opacity: 0;
          display: block !important;
          @include transition-duration-m();
        }
      }
    }
  }
  .ui-select-refreshing {
    height: 30px;
    width: 30px;
    min-width: 0;
    padding: 9px;
    font-size: $piq-font-size-xs;
    line-height: $piq-font-size-s;
    text-align: center;
    right: 2px;
    top: 2px;
    margin:0;
    border:none;
    border-radius: 50%;
    background-color: $piq-white;
    color: $piq-gray-50;
  }
  .ui-select-search {

  }

  .ui-select-choices-row>span,
  .ui-select-no-choice span {
    font-size: $piq-font-size-m;
    line-height: $piq-line-height-m;
    padding: 3px 12px;
    overflow: hidden;
    @include transition(none);
  }
  .ui-select-choices-row.active>span {
    color:$piq-white;
    background-color: $piq-brand-primary;
    &:hover {
      background-color: $piq-brand-dark;
    }
    &:active {
      background-color: $piq-brand-darker;
    }
  }
  .ui-select-no-choice span {
    padding: 6px 15px;
    color: $piq-gray-50;
    font-style: italic;
  }
  .dropdown-header {
    padding: 6px 12px 6px;
    font-size: $piq-font-size-xs;
    line-height: $piq-line-height-xs;
    font-weight: $piq-font-weight-bold;
    color: $piq-gray-50;
  }
}

// .ui-select-container.ui-select-multiple,
.piq-ui-select.ui-select-multiple {
  min-height: 34px;
  padding: 0;
  position: relative;
  padding: 0 6px;

  &.form-control {
    font-size: $piq-font-size-s;
    line-height: $piq-line-height-s;
    color: $piq-gray-base;
    max-width: 100%;
    background-color: $piq-white;
    border: 1px solid $piq-gray-25;
    border-radius: 2px;
    @include transition-duration-s();
    &:hover { border: 1px solid $piq-gray-50; }
    &:focus {
      border: 1px solid $piq-brand-primary;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
    &.form-control-lg {
      font-size: $piq-font-size-m;
      line-height: $piq-line-height-m;
      padding: 11px 16px;
      height: 44px;
    }
    &[invalid],
    &.ng-invalid.ng-touched {
      border: solid 1px $piq-red;
      background-color: $piq-white;
    }
  }

  input.ui-select-search {
    height: auto;
    margin: 0;
    padding: 9px 6px;
    position: absolute;
  }

  .ui-select-match-item {
    margin: 3.5px 5px 3.5px 0;
    border:none;
    min-width: 0;
    height:24px;
    min-width: 24px;
    font-size: $piq-font-size-xs;
    line-height: $piq-font-size-xs;
    font-weight: $piq-font-weight-bold;
    text-align: center;
    padding:6px 6px 7px;
    border-radius: 2px;
    background-color: $piq-gray-10;
    color: $piq-gray-base;

    .close {
      line-height: inherit;
      font-size: $piq-font-size-l;
      margin-top:-2px;
      text-shadow: none;
    }
  }
}

// md-select,
.piq-md-select {
  display: inline-block;
  min-width: 80px;
  margin: 0;

  &:not([disabled]):focus .md-select-value,
  .md-select-value.md-select-placeholder,
  .md-select-value {
    padding: 9px 12px;
    margin:0;
    min-height:0;
    min-width: 80px;

    border: 1px solid;
    border-radius: 2px;
    outline:none !important;

    color: $piq-gray-base;
    background-color: $piq-gray-05;
    border-color: $piq-gray-25;

    font-size: $piq-font-size-s;
    line-height: $piq-line-height-s;
    font-weight: $piq-font-weight-medium;
    @include transition-duration-s();
    @include box-sizing(border-box);
    text-align: left;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    z-index: 1;

    &.md-select-placeholder { color: $piq-gray-base; }

    .md-select-icon{
      margin-right:-2px;
      color: $piq-gray-50;
      width: 12px;
      &:after {
        font-size: 10px;
      }
    }
  }
  &:hover .md-select-value{
    background-color: $piq-gray-10;
    border-color: $piq-gray-25;
  }
  &:not([disabled]):focus .md-select-value{
    background-color: $piq-gray-10;
    border-color: $piq-gray-25;
  }
  &:active .md-select-value{
    background-color: $piq-gray-15 !important;
    border-color: $piq-gray-25 !important;
  }
}

// md-select,
.piq-md-select { //Angular md-select dropdown button overrides.
  &.md-select-transparent {
    &:not([disabled]):focus .md-select-value,
    .md-select-value.md-select-placeholder,
    .md-select-value {
      color: $piq-gray-base;
      background-color: transparent;
      border-color: transparent;
    }
    &:hover .md-select-value{ background-color: $piq-gray-10; }
    &:not([disabled]):focus .md-select-value{ background-color: $piq-gray-10; }
    &:active .md-select-value{ background: $piq-gray-15 !important; }
  }
  &.md-select-ghost {
    &:not([disabled]):focus .md-select-value,
    .md-select-value.md-select-placeholder,
    .md-select-value {
      color: $piq-white;
      background-color: transparent;
      border-color: transparent;
      &.md-select-placeholder { color: $piq-white; }
      .md-select-icon { color: $piq-white-75; }
    }
    &:hover .md-select-value{
      background-color: $piq-white-10;
      &.md-select-placeholder { color: $piq-gray-base; }
      .md-select-icon { color: $piq-gray-50; }
    }
    &:not([disabled]):focus .md-select-value{
      background-color: $piq-white-10;
      &.md-select-placeholder { color: $piq-gray-base; }
      .md-select-icon { color: $piq-gray-50; }
    }
    &:active .md-select-value{
      background: $piq-light-gray;
      border-color: $piq-light-gray;
    }
  }
  &.md-select-transparent-ghost {
    &:not([disabled]):focus .md-select-value,
    .md-select-value.md-select-placeholder,
    .md-select-value {
      color: $piq-white;
      background-color: transparent;
      border-color: transparent;
      &.md-select-placeholder { color: $piq-white; }
      .md-select-icon { color: $piq-white-75; }
    }
    &:hover .md-select-value{ background-color: $piq-white-10; }
    &:not([disabled]):focus .md-select-value{ background-color: $piq-white-25; color: $piq-white; }
    &:active .md-select-value{
      background: $piq-white-25 !important;
      color: $piq-white !important;
    }
  }

  &.input-group-btn:first-child > .md-select-value {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  &.input-group-btn:last-child > .md-select-value {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  &.input-group-btn:not(:first-child) > .md-select-value {
    margin-left: -1px
  }

}

.md-select-menu-container, // cannot directly add class because the dropdown menu container is generate by the javascript
.piq-select-menu-container { //Angular md-select dropdown menu overrides.
  md-select-menu {
    @include box-shadow(0 2px 2px 0 rgba($piq-gray-50,0.5));
    background-color: $piq-white;

    md-content {
      padding:8px 0;
      background: $piq-white;
      border: 1px solid $piq-gray-25;
      border-radius: 2px;
      md-option {
        height: auto;
        font-size: $piq-font-size-m;
        line-height: $piq-line-height-m;
        padding: 5px 40px 5px 15px;
        @include transition(none);

        &:hover,
        &:focus { background-color: $piq-gray-05; }
        &:active { background-color: $piq-gray-10; }
      }
      md-option[selected] {
        color:$piq-white;
        background-color: $piq-brand-primary;
        &:hover { background-color: $piq-brand-dark; }
        &:active { background-color: $piq-brand-darker; }
      }
      md-option[disabled] {
        color: $piq-gray-25;
        cursor: not-allowed;
        &:hover,
        &:active {
          color: $piq-gray-25;
          background-color: $piq-light-gray;
        }
      }
    }
  }
  &.md-active {
    transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;

    md-select-menu {
      >md-content {
        transition-delay: 0.075s;
        -webkit-transition-delay: 0.075;
        transition-duration: 0.1s;
        -webkit-transition-duration: 0.1s;
      }
    }
  }
  &.md-leave {
    transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
  }
}

.piq-typeahead {
  position: relative;
}
