// .form-control,
.piq-form-control {
  font-size: $piq-font-size-s;
  line-height: $piq-line-height-s;
  color: $piq-gray-base;
  max-width: 100%;
  padding: 9px 12px;

  background-color: $piq-white;
  border: 1px solid $piq-gray-25;
  border-radius: 2px;

  outline: none !important;
  @include transition-duration-s();

  &:hover {
    border: 1px solid $piq-gray-50;
  }
  &:focus {
    border: 1px solid $piq-brand-primary;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  &.right-aligned {
    text-align: right;
  }
  &.form-control-sm{
    font-size: $piq-font-size-xs;
    line-height: $piq-line-height-xs;
    padding: 9px 7px;
    height: 24px;
  }
  &.form-control-lg {
    font-size: $piq-font-size-m;
    line-height: $piq-line-height-m;
    padding: 11px 16px;
    height: 44px;
  }

  &[disabled] {
    color:$piq-gray-50;
    background-color: $piq-light-gray-brighter;
    border-color: $piq-gray-10;
    @include box-shadow(none);
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $piq-gray-25;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $piq-gray-25;
    }
    &::-ms-input-placeholder { /* IE 10+ */
      color: $piq-gray-25;
    }
    &::-moz-placeholder { /* Firefox 18- */
      color: $piq-gray-25;
    }
  }

  &[readonly] {
    background-color: $piq-white;
  }

  &[invalid],
  &.ng-invalid.ng-touched {
    border: solid 1px $piq-red;
    background-color: $piq-white;
  }
}

// .form-group,
.piq-form-group {
  margin-bottom: 15px;

  label {
    color: $piq-gray-50;
  }
  label.right-aligned {
    text-align: right;
    float:right;
  }
  >* {
    display: block;
  }
  > .input-group,
  > .btn-group {
    display: table;
  }
}

// .input-group,
.piq-input-group {
  .form-control {
    margin:0;
  }
  .btn {
    margin:0;
  }
  .btn-square,
  .piq-input-group-addon {
    min-width:34px;
    padding:9px 10px;
    border-color: $piq-gray-25;
    font-size: $piq-font-size-s;
    line-height: $piq-line-height-s;
  }
}

.piq-input-group-addon {
  border-radius: 2px;
  border-color: $piq-gray-25;
  font-size: $piq-font-size-s;
  line-height: $piq-line-height-s;

  &.btn-square {
    min-width:34px;
    padding:9px 10px;
  }
}

// .input-with-icon,
.piq-input-with-icon {
  display: inline-block;
  position: relative;

  .input-group & {
    display: table-cell;
  }

  .form-control {
    padding-right: 42px;
    display: block;
    width:100%;
  }
  .fa {
    font-size: 12px;
    text-align: center;
    color: $piq-gray-50;
    width: 30px;
    padding: 9px;
    border-radius: 50%;

    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 3;

    background-color: $piq-white;
    border-left:0px;
    outline:none;
    @include transition-duration-m;

    &.hover:hover {
      cursor: pointer;
      color: $piq-gray-base;
    }
    &.hover:focus {
      background-color: $piq-gray-05;
    }
    &.ng-hide {
      @include transform(scale(0.5));
      opacity: 0;
      display: inline-block !important;
    }

  }
}

// md-checkbox,
.piq-md-checkbox {
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 0px;
  }

  .md-container {
    width:16px;
    height:16px;

    .md-icon {
      width:16px;
      height:16px;
      border: solid 1px $piq-gray-25;
      background-color: $piq-white;
      @include transition-duration-s();
    }
  }

  &:hover {
    .md-icon {
      border-color: $piq-gray-50;
    }
  }

  &.md-checked {
    .md-icon {
      border-color: $piq-brand-primary;
      background-color: rgba($piq-brand-primary,1);

      &:after {
        left: 4px;
        top: 0.5px;
        width: 6px;
        height: 9px;
        border-width: 2px;
        border-color: $piq-white;
      }
    }
    .md-ink-ripple,
    .md-ripple-container:before {
      color: $piq-brand-primary;
    }
  }
  &.md-indeterminate {
    .md-icon:after {
      width: 8px;
      border:none;
      background-color: $piq-gray-50;
    }
  }
  .md-label {
    font-size: $piq-font-size-m;
    line-height: $piq-line-height-m;
    margin-left: 28px;
  }

  &.md-focused:not([disabled]):not(.md-checked) .md-container:before,
  &.md-focused:not([disabled]).md-checked .md-container:before {
    @include transition-duration-m();
    background-color: rgba($piq-gray-base, 0.1);
  }

  &[disabled] {
    cursor: not-allowed;
    * {
      cursor: not-allowed;
    }
    &:not(.md-checked) .md-icon {
      border-color: $piq-gray-10;
      background-color: $piq-light-gray-brighter;
    }
    &.md-checked .md-icon {
      border-color: $piq-gray-25;
      background-color: $piq-gray-25;
      &:after {
        border-color: $piq-white;
      }
    }
  }
}

// md-radio-group,
.piq-md-radio-group {

  &.md-focused:not(:empty) .md-checked .md-container:before {
    @include transition-duration-m();
    background-color: rgba($piq-gray-base, 0.1);
  }
  &.md-focused:not(:empty):not(.md-checked) .md-container:before {
    @include transition-duration-m();
    background-color: rgba($piq-gray-base, 0.05);
  }

  md-radio-button {
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }

    .md-container {
      width:16px;
      height:16px;
      background-color: $piq-white;

      .md-on, .md-off {
        width:16px;
        height:16px;
        @include transition-duration-s();
      }
      .md-off {
        border: solid 1px $piq-gray-25;
      }
      .md-on {
        background-color: $piq-brand-primary;
      }
    }
    &:hover {
      .md-off {
        border-color: $piq-gray-50;
      }
    }
    &.md-checked {
      .md-ink-ripple,
      .md-ripple-container:before {
        color: $piq-brand-primary;
      }
    }
    .md-label {
      font-size: $piq-font-size-m;
      line-height: $piq-line-height-m;
      margin-left: 28px;
    }

    &[disabled] {
      cursor: not-allowed;
      * {
        cursor: not-allowed;
      }
      .md-container {
        .md-on {
          background-color: $piq-gray-10;
          border-color: $piq-gray-10;
        }
        .md-off {
          border-color: $piq-gray-10;
          background-color: $piq-light-gray-brighter;
        }
      }
    }
  }
}


.piq-validation-block {
  margin-top: 5px;

  .validation-error {
    font-size: $piq-font-size-s;
    line-height: $piq-line-height-s;
    color: $piq-red;
  }
}

// .label-left,
.piq-label-left,
.piq-md-radio-group.piq-label-left md-radio-button,
.piq-md-radio-group md-radio-button.piq-label-left {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  .md-label {
    margin-right: 12px;
    margin-left: 0;
    flex-shrink: 1;
  }
  .md-container {
    position: relative;
    top:1px;
    left:0;
    @include transform(none);
    flex-shrink: 0;
    margin-right: 0;
  }
}
