a.piq-link {
  color: $piq-brand-primary;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  @include transition-duration-m();

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $piq-brand-dark;
  }

  &:active {
    color: $piq-brand-darker;
  }
}
