@mixin box-shadow($box-shadow) {
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
}

@mixin box-shadow-multiple($box-shadow-1, $box-shadow-2) {
  box-shadow: $box-shadow-1, $box-shadow-2;
  -webkit-box-shadow: $box-shadow-1, $box-shadow-2;
  -moz-box-shadow: $box-shadow-1, $box-shadow-2;
  -ms-box-shadow: $box-shadow-1, $box-shadow-2;
  -o-box-shadow: $box-shadow-1, $box-shadow-2;
}

@mixin text-shadow($text-shadow) {
  text-shadow: $text-shadow;
  -webkit-text-shadow: $text-shadow;
  -moz-text-shadow: $text-shadow;
  -ms-text-shadow: $text-shadow;
  -o-text-shadow: $text-shadow;
}

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  -o-border-radius: $border-radius;
}

@mixin transform($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
}

@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

@mixin box-sizing($box-sizing) {
  box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  -ms-box-sizing: $box-sizing;
  -o-box-sizing: $box-sizing;
}

@mixin transition-duration-xs($property:all, $easing:ease, $delay:0s) {
  @include transition($property 0.1s $easing $delay);
}

@mixin transition-duration-s($property:all, $easing:ease, $delay:0s) {
  @include transition($property 0.15s $easing $delay);
}

@mixin transition-duration-m($property:all, $easing:ease, $delay:0s) {
  @include transition($property 0.25s $easing $delay);
}

@mixin transition-duration-l($property:all, $easing:ease, $delay:0s) {
  @include transition($property 0.5s $easing $delay);
}
