.piq-modal {
  text-align: center;

  &.fade {
    .modal-dialog {
      @include transition-duration-m();
    }
  }
  $screen-sm-min: 768px;
  @media screen and (min-width: $screen-sm-min) {
    &:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }

  .modal-backdrop.in {
    opacity: 0.25;
    filter: alpha(opacity=25);
  }


  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  @media (min-width: $screen-sm-min) {
    .modal-dialog {
      width: 480px;
    }
    .modal-sm {
      width: 320px;
    }
    .modal-lg {
      width: 560px;
    }
  }


  .modal-content {
    background-color: $piq-white;
    border-radius: 2px;
    border: 1px solid $piq-gray-25;
    @include box-shadow(0 4px 12px rgba($piq-black, .25));

    .modal-header {
      padding: 21px 25px 5px;
      border:none;
    }
    .modal-title {
      margin-right: 25px;
    }
    .modal-body {
      padding: 15px 25px;
      border:none;

      p {
        color: $piq-gray-60;
        margin:0;
      }
    }
    .modal-footer {
      padding: 10px 25px 25px;
      border:none;

      .btn + .btn {
        margin-left: 5px;
      }
    }

    .action-area {
      background-color: $piq-light-gray-brighter;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: $piq-gray-10;
      margin: 8px 0;
      padding:25px;
    }

    .close {
      position: absolute;
      right:12px;
      top:12px;
      min-width:0;
      min-height:0;

      margin:0;
      padding:9px;
      font-size: 16px;
      border-radius: 2px;
      opacity: 1;
      outline:none;
      @include text-shadow(none);

      .fa {
        line-height: 16px;
        width:16px;
        text-align: center;
        color: $piq-gray-50;
      }

      &:hover {
        background-color: $piq-gray-05;
      }
    }
  }

  &.modal-primary .modal-content { border-top: 2px solid $piq-brand-primary; }
  &.modal-success .modal-content { border-top: 2px solid $piq-green; }
  &.modal-warning .modal-content { border-top: 2px solid $piq-yellow-dark; }
  &.modal-danger .modal-content { border-top: 2px solid $piq-red; }
  &.modal-muted .modal-content { border-top: 2px solid $piq-gray-base; }

}
