// .navbar,
.piq-navbar {
  background-color: $piq-metallic;
  border-radius: 0;
  border: none;
  margin: 0;

  .navbar-top { padding: 12px 10px 4px; }
  .navbar-nav {
    > li > a {
      font-size: $piq-font-size-m;
      line-height: $piq-line-height-m;
      font-weight: $piq-font-weight-medium;
      color: $piq-white;
      padding: 10px 15px 12px;
      margin-top: 6px;
      border-radius: 2px 2px 0 0;
      border-top: solid 2px transparent;
      @include transition-duration-s();

      &:hover,
      &:focus { background-color: $piq-metallic-brighter; }
      > .caret {
        float: none;
        right: 0;
        top: -1px;
        margin: 0 0 0 10px;
        opacity: 0.5;
      }
    }

    > li.active > a {
      color: $piq-gray-base;
      background-color: $piq-white;
      border-top-color: $piq-brand-primary;
      padding-top: 10px;
      &:hover {
        background-color: $piq-metallic-brighter;
        color: $piq-white;
      }
      &:focus {
        color: $piq-gray-base;
        background-color: $piq-white;
      }
    }

    > li:first-of-type.active > a{ //Home button does not have header
      background-color: $piq-light-gray;
      &:hover {
        background-color: $piq-metallic-brighter;
        color: $piq-white;
      }
      &:focus {
        color: $piq-gray-base;
        background-color: $piq-white;
      }
    }

    > li > .quickaction {
      color: rgba($piq-white, 0.5);
      &:hover,
      &:focus{ color: $piq-white; }
    }

    > li.open > a,
    > li.active.open > a {
      background-color: $piq-metallic-brighter;
      color: $piq-white;
    }

    > li > .dropdown-menu { border-radius: 0 0 2px 2px; }
  }

  .user-icon,
  .restaurant-icon {
    top:-1px;
  }

  .dropdown-menu-dark {
    min-width: 240px;
    max-height: none;
    margin:0;
    padding: 15px;
    border:none;
    border-radius: 2px;
    background-color: $piq-metallic-brighter;
    @include box-shadow-multiple(0 6px 6px 0 rgba(0,0,0,0.05), 0 2px 2px 0 rgba(0,0,0,0.2));

    li > a {
      display: block;
      text-decoration: none;
      position: relative;
      padding:7px 10px;
      margin: 5px 0;
      border-radius: 2px;
      color: $piq-white;

      &:hover,
      &:focus {
        background-color: $piq-metallic-bright;
      }
      .fa {
        color: rgba($piq-white, 0.5);
        margin-right: 10px;
      }
    }

    li.active > a {
      background-color: $piq-brand-primary;
      .fa { color: $piq-white; }
    }
    li.disabled > a,
    li.ng-disabled > a,
    li[disabled] > a,
    li > a[disabled],
    li > a.ng-disabeld {
      color: $piq-white-50;
      &:hover,
      &:focus { background-color: transparent; }
    }

    &.dropdown-multi-column { width: 480px; }

    .user-profile {
      display: table;
      table-layout: fixed;
      padding: 10px 10px 15px;

      .user-icon {
        display: table-cell;
        min-width:40px;
        max-width:40px;
        height:40px;
        max-height:40px;
        padding: 8px 0;
        border-radius: 2px;
        font-size: $piq-font-size-l;
        line-height: $piq-line-height-l;
        vertical-align:middle;
      }
      .user-info {
        display: table-cell;
        padding-left: 15px;

        .user-name {
          font-weight: $piq-font-weight-medium;
          color: $piq-white;
          margin-bottom: 5px;
        }
        .user-email {
          font-size: $piq-font-size-s;
          line-height: $piq-line-height-s;
          color: $piq-white-75;
        }
      }
    }
  }

  .dropdown-column {
    width: 50%;
    float: left;

    > li > a { max-width: 210px; }
  }

  .dropdown-topnav {
    .dropdown-toggle,
    .dropdown-menu {
      @include transition-duration-m();
    }
    .dropdown-toggle { font-size: $piq-font-size-m; }
    .dropdown-menu {
      margin-top: -34px;
      @include transform(translateY(-10px));
    }
    &.open .dropdown-toggle { @include transform(translateY(10px)); }
    &.open .dropdown-menu { @include transform(translateY(0)); }
  }

  .dropdown-menu-search {
    .input-with-icon,
    .btn {
      display: block;
      width: 100%;
      margin: 10px 0;
    }
  }
}
