// .pager,
.piq-pager {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin:0;

  li {
    position: relative;
    float:left;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: -1px;
    }
    &:first-child:not(:last-child)>a {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:last-child:not(:first-child)>a {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    >a,
    >span {
      padding: 9px 0;
      width: 34px;
      margin:0;
      min-height:0;

      border: 1px solid;
      border-radius: 2px;
      outline:none !important;

      color: $piq-gray-base;
      background: $piq-gray-05;
      border-color: $piq-gray-25;

      font: normal normal normal $piq-font-size-m/1 FontAwesome;

      font-size: $piq-font-size-s;
      line-height: $piq-line-height-s;
      font-weight: $piq-font-weight-medium;

      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;

      &:hover,
      &:focus {
        // @extend .btn:hover;
      }
      &:active {
        // @extend .btn:active;
      }
    }
  }
  li.disabled>a {
    opacity: 0.4;
    color: $piq-gray-base;
    background: $piq-gray-05;
    border-color: $piq-gray-25;
    &:hover,
    &:focus {
      background: $piq-gray-10;
      border-color: $piq-gray-25;
    }
    &:active {
      background: $piq-gray-10 !important;
      border-color: $piq-gray-25 !important;
    }
  }
}

.piq-pager-indicator {
  display: inline-block;
  vertical-align: middle;
  margin:0 10px;

  .dropdown-toggle.btn-sm {
    font-size: $piq-font-size-m;
    line-height: $piq-line-height-m;
    padding: 3px;
    top:-2px;
    vertical-align: baseline;
  }
}
