// .panel,
.piq-panel { //Panel default layout
  border-radius: 2px;
  border: 1px solid $piq-gray-15;
  background-color: $piq-white;
  @include box-shadow(none);

  .panel-heading {
    padding: 10px 10px 10px 20px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background-color: transparent;
    color: $piq-gray-base;
    border-color: $piq-gray-10;

    .panel-title { display: inline-block; }
    h3.panel-title {
      padding: 7px 0;
      font-size: $piq-font-size-m;
      line-height: $piq-line-height-m;
      font-weight: $piq-font-weight-bold;
    }
    h2.panel-title {
      padding: 10px 0;
      font-size: $piq-font-size-xxl;
      line-height: $piq-line-height-xxl;
      font-weight: $piq-font-weight-light;
    }
    .btn-collapse.btn-sm {
      margin-left: -10px;
      margin-right: 5px;
      margin-top: -2px
    }
  }


  .panel-body { // Default Panel body
    padding:20px;
    font-size: $piq-font-size-m;
    line-height: $piq-line-height-m;
  }


  .panel-list { //1. List of Links
    margin:0;
    padding:0;
    list-style-type: none;

    li a {
      display: block;
      position: relative;
      color: $piq-gray-base;
      border-bottom: 1px solid $piq-gray-05;
      padding: 15px 20px;
      @include transition(none);

      .badge {
        margin: -3px 0;
        vertical-align: baseline;
      }

      >.fa {
        line-height: inherit;
        color: $piq-gray-50;
      }
      &:hover,
      &:focus {
        background-color: $piq-light-gray;
        text-decoration: none;
      }
    }
    li:last-of-type a{ border-bottom: none; }
  }



  .panel-form { // Panel dataset or form fields
    overflow: hidden;
    .form-row {
      padding: 15px 20px;
      min-height:50px;
      border-bottom: solid 1px $piq-gray-05;
      vertical-align: baseline;

      &:last-of-type { border-bottom: none; }
      &:hover,
      &:focus { background-color: $piq-light-gray-brighter; }

      .prop-label label { margin: 0; }
      .prop-content {
        .form-control,
        >.btn {
          margin-top: -7px;
          margin-bottom: -7px;
        }
        >md-switch { margin: -5px 0; }
        >p {display: inline-block;}
      }
    }
  }

  .panel-table { //2. 2-column table
    overflow-x: hidden;
    .table {
      border:none;
      table-layout: fixed;
      border-right: 1px solid $piq-gray-10;

      &:last-of-type {
        margin-left: 0;
        border-right: none;
      }
      tr {
        width:100%;
        position: relative;
        &:last-of-type {
          border-bottom: none;
        }
      }
      td {
        padding: 10px 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:first-of-type {
          padding-left: 20px;
        }
        &:last-of-type {
          padding-right: 20px;
        }
        &.td-05 { width: 5%; }
        &.td-10 { width: 10%; }
        &.td-15 { width: 15%; }
        &.td-20 { width: 20%; }
        &.td-25 { width: 25%; }
        &.td-30 { width: 30%; }
        &.td-35 { width: 35%; }
        &.td-40 { width: 40%; }
        &.td-45 { width: 45%; }
        &.td-50 { width: 50%; }
        &.td-55 { width: 55%; }
        &.td-60 { width: 60%; }
        &.td-65 { width: 65%; }
        &.td-70 { width: 70%; }
        &.td-75 { width: 75%; }
        &.td-80 { width: 80%; }
        &.td-85 { width: 85%; }
        &.td-90 { width: 90%; }
        &.td-95 { width: 95%; }
      }
    }

    &.panel-table-col-2 {
      .table {
        width: 50%;
        float:left;
      }
    }
    &.panel-table-col-3 {
      .table {
        width: 33.3333%;
        float:left;
      }
    }
    &.panel-table-col-4 {
      .table {
        width: 25%;
        float:left;
      }
    }
  }
  // 
  // .collapse,
  // .collapsing {
  //   transition: height, visibility, margin 0.25s ease;
  // }
}

// .panel,
.piq-panel { //Panel color themes
  &.panel-primary { border-top: solid 2px $piq-brand-primary; }
  &.panel-success { border-top: solid 2px $piq-green; }
  &.panel-danger { border-top: solid 2px $piq-red; }
  &.panel-warning { border-top: solid 2px $piq-yellow-dark; }

  &.panel-primary-filled {
    background-color: $piq-brand-primary;
    border: $piq-brand-dark;
    color: $piq-white;
    .panel-list li a {
      color: $piq-white;
      border-bottom-color: $piq-brand-darker;
      &:hover, &:focus { background-color: $piq-brand-dark;}
      &:active { background-color: $piq-brand-darker; }
    }
  }

  &.panel-danger-filled {
    background-color: $piq-red;
    border: $piq-red-dark;
    color: $piq-white;
    .panel-list li a {
      color: $piq-white;
      border-bottom-color: $piq-red-darker;
      &:hover, &:focus { background-color: $piq-red-dark;}
      &:active { background-color: $piq-red-darker; }
    }
  }
}
