// .progress,
.piq-progress {
  height:2px;
  margin-bottom: 0;
  background-color: $piq-gray-10;
  border-radius: 2px;
  @include box-shadow(none);

  .progress-bar {
    overflow: visible;
    background-color: $piq-brand-primary;
    @include box-shadow(none);
    text-align: right;

    span {
      display: inline-block;
      font-size: $piq-font-size-xs;
      line-height: $piq-line-height-xs;
      font-weight: $piq-font-weight-bold;

      position: absolute;
      top: -1.5em;
      @include transform(translateX(-100%));
      color: $piq-brand-primary;
    }
  }

  &.progress-lg {
    height: 10px;
  }
  &.progress-xl {
    height: 24px;
    span {
      color: $piq-white;
      position: static;
      margin: 5px 5px 0 0;
      @include transform(none);
    }
  }

  .progress-bar-muted {
    background-color: $piq-gray-base;
    :not(.progress-xl) & span{
      color: $piq-gray-base;
    }
  }
  .progress-bar-success {
    background-color: $piq-green;
    :not(.progress-xl) & span{
      color: $piq-green;
    }
  }
  .progress-bar-warning {
    background-color: $piq-yellow-dark;
    :not(.progress-xl) & span{
      color: $piq-yellow-darker;
    }
  }
  .progress-bar-danger {
    background-color: $piq-red;
    :not(.progress-xl) & span{
      color: $piq-red;
    }
  }
}
