.piq-user-icon,
.piq-restaurant-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 5px 0 8px;
  border-radius: 2px;
  position: relative;
  font-size: $piq-font-size-xs;
  line-height: $piq-line-height-xs;
  font-weight: $piq-font-weight-bold;
  color: $piq-white;
  text-align: center;
  .btn & { //Fix for badges inside of buttons
    vertical-align: middle;
    margin: -7px -8px -6px 10px;
    &:first-child {
      margin: -7px 10px -6px -8px;
    }
  }
}

.piq-restaurant-icon {
  background-color: $piq-brand-primary;
}
.piq-user-icon {
  background-color: $piq-metallic-brighter;
}
.piq-user-icon.user-icon-self {
  background-color: $piq-green;
}
