.navbar .restaurant-selector-dropdown {
  width:600px;
  height:500px;
  padding: 0;

  .selector-left,
  .selector-right {
    width: 50%;
    height:100%;
    float:left;
    display: flex;
    flex-direction: column;

    .search {
      padding:10px 20px;
      position: relative;
      z-index: 6000;
      .input-with-icon {
        display: block;
      }
    }
  }
  .selector-right { background-color: $piq-metallic-bright; }
  .selector-left { background-color: $piq-metallic-brighter; }

  .input-with-icon {
    .form-control {
      border:none;
      background-color: transparent;
      color: $piq-white;
      padding:10px 0;
      @include box-shadow(none);
      font-size: 13px;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba($piq-white, 0.5);
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: rgba($piq-white, 0.5);
      }
      &::-ms-input-placeholder { /* IE 10+ */
        color: rgba($piq-white, 0.5);
      }
      &::-moz-placeholder { /* Firefox 18- */
        color: rgba($piq-white, 0.5);
      }
    }
    .form-control:hover,
    .form-control:focus {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba($piq-white, 0.75);
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: rgba($piq-white, 0.75);
      }
      &::-ms-input-placeholder { /* IE 10+ */
        color: rgba($piq-white, 0.75);
      }
      &::-moz-placeholder { /* Firefox 18- */
        color: rgba($piq-white, 0.75);
      }
    }
    .fa {
      background-color: transparent;
      color: rgba($piq-white, 0.5);
      margin-right: -11px;
      &.hover:hover {
        color: $piq-white;
      }
    }
  }

  .restaurant-list {
    flex-grow: 1;
    overflow: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .restaurant-group-item {
      color: $piq-white;
      font-size: $piq-font-size-m;
      line-height: $piq-line-height-m;
      padding: 10px 20px;
      cursor: pointer;
      position: relative;
      outline: none !important;
      display: flex;
      align-items: center;
      @include transition(none);

      &:hover { background-color: $piq-metallic-bright; }
      &.selected {
        background-color: $piq-brand-primary;
        &:hover { background-color: $piq-brand-dark; }
        .restaurant-icon { background-color: $piq-white; color: $piq-brand-primary; }
        .fa-chevron-right { opacity: 1; }
      }
      &.active {
        .fa-check { opacity: 1; }
      }
      &.active.selected {
        .fa-check { opacity: 0; }
      }

      .icon-selected,
      .icon-active {
        color: $piq-white;
        position: absolute;
        right:15px;
        top: 50%;
        @include transform(translateY(-50%));
        opacity: 0;
      }

      .restaurant-icon {
        top: 0;
      }
      .group-name-wrapper {
        margin-left: 15px;

        p { margin-bottom: 0; }
        p.small {
          color:$piq-white-75;
          font-size: $piq-font-size-s;
        }
      }

      &.restaurant-item {
        &:hover { background-color: $piq-metallic; }
      }
    }
  }
}
