md-slider,
md-slider.md-default-theme {
  .md-track { background-color: $piq-gray-15; }
  .md-track.md-track-fill { background-color: $piq-gray-base; }
  .md-thumb {
    &:after {
      border-color: $piq-gray-base;
      background-color: $piq-gray-base;
    }
  }
}
