// md-switch,
.piq-md-switch {
  margin: 0 0 15px;
  &:last-of-type {
    margin: 0;
  }
  .md-container {
    width:34px;
    height:20px;
    margin-right: 12px;

    .md-bar {
      left:0;
      top:0;
      height: 20px;
      width: 34px;
      border-radius: 10px;
      background: $piq-gray-15;
      border: 1px solid $piq-gray-25;
      @include transition(all 0.2s ease-in);
      -webkit-transition-property: border, -webkit-transform;
      transition-property: border, -webkit-transform;
      transition-property: transform, border;
      transition-property: transform, border, -webkit-transform;
    }


    .md-thumb-container {
      width: 14px;
      @include transition(all 0.2s ease-out);
    }
    .md-thumb {
      background-color: $piq-white;
      width: 16px;
      height: 16px;
      left: 2px;
    }
  }

  .md-label {
    font-size: $piq-font-size-m;
    line-height: $piq-line-height-m;
  }

  &:hover {
    .md-bar {
      border-color: $piq-gray-50;
    }
  }

  &.md-checked .md-container {
    .md-bar {
      border: solid 10px $piq-brand-primary;
    }
    .md-thumb {
    }
    .md-ink-ripple {
    color: $piq-brand-primary;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    * {
      cursor: not-allowed;
    }

    &:not(.md-checked) .md-bar {
      border-color: $piq-gray-10;
      background-color: $piq-gray-05;
    }

    &.md-checked .md-bar {
      border: solid 10px rgba($piq-brand-primary, 0.3);
      background-color: transparent;
    }
  }

  &.md-checked.md-focused .md-thumb:before,
  &:not(.md-checked).md-focused .md-thumb:before {
    background-color: rgba($piq-gray-base, 0.1);
  }
}
