.piq-table {
  background-color: $piq-white;
  border: solid 1px $piq-gray-15;
  border-radius: 2px;
  margin: 0;
  width: 100%;

  > thead > tr,
  > tbody > tr {

    &:last-of-type {
      > td {
        border-bottom: none;
      }
    }
    &:not(.header):hover {
      background-color: $piq-light-gray;
      cursor: pointer;
    }
    &:not(.header):active {
      background-color: $piq-gray-05;
    }
    > td,
    > th {
      height: 40px;
      padding: 8px 6px 7px;
      font-size: $piq-font-size-m;
      line-height: $piq-line-height-m;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:first-of-type {
        padding-left: 12px;
      }
      &:last-of-type {
        padding-right: 12px;
      }
    }
    > td {
      border-top: none;
      border-bottom: 1px solid $piq-gray-05;
    }
    > th {
      background-color: $piq-light-gray-brighter;
      border-top: none;
      border-bottom: 1px solid $piq-gray-15;
      cursor: pointer;

      >.fa {
        margin-left: 5px;
        color: $piq-gray-25;
      }
      &:hover {
        >.fa {
          color: $piq-gray-base;
        }
      }
    }

    &.row-small td {
      padding-top:3px;
      padding-bottom: 2px;
    }

    md-checkbox {
      margin: 0;
      .md-label {
        margin-left: 0;
      }
    }
    .fit-content {
      width: 1%;
    }
  }

  &.table-layout-fixed {
    table-layout: fixed;
  }

  &.table-no-hover {
    thead>tr:hover,
    tbody>tr:hover {
      background-color: transparent;
      cursor: auto;
    }
  }

  &.single-header {
    border-bottom: none;

    > thead > tr > th {
      background-color: $piq-gray-base;
      border-bottom: none;
    }

    ~ .piq-table {
      margin-bottom: 10px;

      > thead > tr > th {
        background-color: $piq-light-gray-brighter;
      }
    }
  }

  .td-05 { max-width: 1px; width: 5%; }
  .td-10 { max-width: 1px; width: 10%; }
  .td-15 { max-width: 1px; width: 15%; }
  .td-20 { max-width: 1px; width: 20%; }
  .td-25 { max-width: 1px; width: 25%; }
  .td-30 { max-width: 1px; width: 30%; }
  .td-35 { max-width: 1px; width: 35%; }
  .td-40 { max-width: 1px; width: 40%; }
  .td-45 { max-width: 1px; width: 45%; }
  .td-50 { max-width: 1px; width: 50%; }
  .td-55 { max-width: 1px; width: 55%; }
  .td-60 { max-width: 1px; width: 60%; }
  .td-65 { max-width: 1px; width: 65%; }
  .td-70 { max-width: 1px; width: 70%; }
  .td-75 { max-width: 1px; width: 75%; }
  .td-80 { max-width: 1px; width: 80%; }
  .td-85 { max-width: 1px; width: 85%; }
  .td-90 { max-width: 1px; width: 90%; }
  .td-95 { max-width: 1px; width: 95%; }
}

.piq-table-group {
  display: table;
  width: 100%;
  margin-bottom: 20px;

  > * { border-radius: 0; }
  &:first-child { border-radius: 2px 2px 0 0; }
  &:last-child { border-radius: 0 0 2px 2px; }

  .table-header,
  .table-footer {
    background-color: $piq-light-gray-brighter;
    border: 1px solid $piq-gray-15;
    padding: 8px 12px;
    margin: 0;
    .form-control,
    .btn {
      vertical-align: top;
      margin-bottom: 0 !important;
    }
    .btn + .btn,
    .btn + .input-search {
      margin-left: 5px;
    }
    .input-search {
      width: 250px;
    }
    .badge-bulk {
      margin: 5px 10px;
      &.ng-hide {
        opacity: 0;
        transform: translateY(10px);
      }
    }
  }

  .table-header {
    border-bottom: none;
    border-radius: 2px 2px 0 0;
  }
  .table-footer {
    border-top: none;
    border-radius: 0 0 2px 2px;
  }
  .table-filter {
    margin-bottom: 10px;

    .filter-body {
      border: 1px solid $piq-gray-15;
      background-color: $piq-white;
      padding: 20px;

      .filter-row {
        margin-bottom: 15px;
        .filter-label label { margin: 10px 0;}
        .filter-content > * { width: 100%; }
      }
    }
  }
  .table-no-results {
    background-color: $piq-white;
    border: solid 1px $piq-gray-15;
    border-top: none;
    padding: 20px;
    text-align: center;
    >img {
      margin-bottom: 15px;
    }
  }
}


.table-accordion {
  margin-bottom: 0;

  .table-accordion-head {
    > thead > tr > th,
    > thead > tr > td,
    > tbody > tr > th,
    > tbody > tr > td {
      background-color: $piq-white;
      height: 50px;
    }
  }
  .table-accordion-body {
    overflow: hidden;
    display: block;

    &.collapse {
      display: none;
    }
    &.collapse.in {
      display: block;
    }
    &.collapsing {
      transition: all 0.35s ease;
    }
    .table {
      border-top: none;
      margin-bottom: 16px;

      > thead > tr > th,
      > thead > tr > td,
      > tbody > tr > th,
      > tbody > tr > td {
        background-color: $piq-light-gray-brighter;
        height: 40px;
      }
    }
  }
  .table-accordion-empty {
    border-top: none;
    margin-bottom: 16px;
    table-layout: fixed;
    display: table;
    > thead > tr > th,
    > thead > tr > td,
    > tbody > tr > th,
    > tbody > tr > td {
      background-color: $piq-light-gray-brighter;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;

      .plateiq-h4 {
        margin-bottom: 5px;
      }
    }
  }
  .table-accordion + & {
    margin-top: -1px;
  }


  .piq-dropdown .piq-dropdown-menu {
    display: none;
  }
  .piq-dropdown.open .piq-dropdown-menu {
    display: block;
  }

}
