.nav {
  &.nav-tabs {
    border-bottom: none;

    > li {
      > a {
        height: 44px;
        padding: 11px 14px;
        font-size: $piq-font-size-m;
        line-height: $piq-line-height-m;
        font-weight: $piq-font-weight-bold;
        color: $piq-gray-50;
        margin-right: 0;
        border: 1px solid transparent;
        border-radius: 2px 2px 0 0;
        @include transition-duration-s();

        &:hover {
          background-color: transparent;
          color: $piq-gray-base;
        }
        &:before {
          content:"";
          display: block;
          width:0%;
          height:2px;
          position: absolute;
          top:-1px;
          left:-1px;
          left:50%;
          background-color: $piq-brand-primary;
          border-radius: 2px 2px 0 0;
          @include transform(translateX(-50%));
          @include transition-duration-m();
        }

        .count {
          font-weight: $piq-font-weight-regular;
        }
      }

      &.active > a {
        background-color: $piq-light-gray;
        color: $piq-gray-base;
        border: 1px solid $piq-gray-15;
        border-bottom-color: transparent;

        &:before {
          width: calc(100% + 2px);
        }
      }
      &.disabled > a {
        color: $piq-gray-25;
        cursor: not-allowed;
      }
    }
  }
}


// md-tabs,
.piq-md-tabs {
  md-tabs-wrapper {
    md-tabs-canvas {
      md-pagination-wrapper {
        .md-tab {
          height: 44px;
          padding: 11px 14px;
          font-size: $piq-font-size-m;
          line-height: $piq-line-height-m;
          font-weight: $piq-font-weight-bold;
          text-transform: none;
          color: $piq-gray-50;
          border: 1px solid transparent;
          @include transition-duration-s();
          border-radius: 2px 2px 0 0;

          .count {
            font-weight: $piq-font-weight-regular;
          }

          &:hover {
            color: $piq-gray-base;
          }

        }
        .md-tab.md-active {
          background-color: $piq-light-gray;
          color: $piq-gray-base;
          border: 1px solid $piq-gray-15;
          border-bottom-color: transparent;
        }
        md-ink-bar {
          color: $piq-gray-50;
          background-color: $piq-brand-primary;
          top:0px;
          border-radius: 2px 2px 0 0;
        }
      }
    }
  }
}
