#toast-container {
  div[toast].ng-enter {
    transition: all 0.35s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity:0;
    transform: translateY(-80%);
  }
  div[toast].ng-enter.ng-enter-active {
    opacity:1;
    transform: translateY(0);
  }
  div[toast].ng-leave {
    transition: all 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    opacity:1;
    transform: translateY(0);
  }
  div[toast].ng-leave.ng-leave-active {
    opacity:0;
    transform: translateY(-80%);
  }

  &.toast-top-center {
    top: 12px;
    .toast {
      margin: 0 auto 5px;
      width: 380px;
    }
  }

  // .toast,
  .piq-toast {
    border-radius: 2px;
    opacity: 1;
    padding: 15px 15px 15px 55px;
    box-shadow: 0px 3px 5px -1px rgba($piq-black, 0.10), 0px 6px 10px -3px rgba($piq-black, 0.08), 0px 1px 18px -5px rgba($piq-black, 0.07);
    background-position: 15px;
    background-size: 24px;

    color: $piq-white;
    background-color: $piq-metallic-bright;
    border-bottom: 3px solid transparent;
    outline: none !important;
    @include transition-duration-s();

    &.toast-info {
      background-color: $piq-brand-primary;
      border-bottom-color: $piq-brand-darker;
      background-image: url('img/ic-toast-info.png') !important;
      &:hover { background-color: $piq-brand-dark; }
    }
    &.toast-success {
      background-color: $piq-green;
      border-bottom-color: $piq-green-darker;
      background-image: url('img/ic-toast-success.png') !important;
      &:hover { background-color: $piq-green-dark; }
    }
    &.toast-error {
      background-color: $piq-red;
      border-bottom-color: $piq-red-darker;
      background-image: url('img/ic-toast-error.png') !important;
      &:hover { background-color: $piq-red-dark; }
    }
    &.toast-warning {
      background-color: $piq-yellow;
      border-bottom-color: $piq-yellow-darker;
      color: $piq-gray-base;
      background-image: url('img/ic-toast-warning.png') !important;
      &:hover { background-color: $piq-yellow-dark; }
      .toast-close-button { color: $piq-gray-base; }

    }
    &:hover {
      box-shadow: 0px 3px 5px -1px rgba($piq-black, 0.10), 0px 6px 10px 0px rgba($piq-black, 0.08), 0px 1px 18px 0px rgba($piq-black, 0.07);
    }

    .toast-close-button {
      width: 24px;
      height: 24px;
      padding: 0 0 6px;

      top: -8px;
      right: -8px;
      text-align: center;
      line-height: 5px;
      border-radius: 2px;
      text-shadow: none;
      color: $piq-white;
      outline: none !important;
      @include transition-duration-s();

      &:hover,
      &:focus {
        text-decoration: none;
        cursor: pointer;
        opacity: 1;
        background-color: rgba($piq-white, 0.2);
      }
      &:active {
        background-color: rgba($piq-white, 0.4);
      }
    }
  }
}
