// .tooltip,
.piq-tooltip {
  &.in {
    opacity: 1;
  }

  .tooltip-inner {
    padding: 8px 12px;
    background-color: $piq-metallic-bright;
    border-radius: 2px;

    font-size: $piq-font-size-s;
    line-height: $piq-line-height-s;
    @include box-shadow(0 1px 2px 0 rgba($piq-black,0.25));

  }

  &.top .tooltip-arrow {
    border-top-color: $piq-metallic-bright !important;
  }
  &.right .tooltip-arrow {
    border-right-color: $piq-metallic-bright !important;
  }
  &.bottom .tooltip-arrow {
    border-bottom-color: $piq-metallic-bright !important;
  }
  &.left .tooltip-arrow {
    border-left-color: $piq-metallic-bright !important;
  }

  &.tooltip-lg {
    min-width: 120px;

    .tooltip-inner {
      padding: 12px;
      text-align: left;

      p {
        margin:0;
      }

      label {
        color: rgba($piq-white, 0.5);
        margin-bottom: 4px;
      }

      .divider {
        height: 1px;
        background-color: rgba($piq-white, 0.1);
        margin: 10px -12px;
      }
    }
  }
}
