html, body {
  font-family: $piq-font-family-sans-serif;
  font-size: $piq-font-size-m;
  line-height: $piq-line-height-m;
  color: $piq-gray-base;

  text-rendering: geometricPrecision;
  -webkit-text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
*, input, button, h1, h2, h3, h4, h5, h6, p, label  {
  font-family: $piq-font-family-sans-serif;
}

.piq-{
  &h1, &h2, &h3, &h4, &h5, &h6, &p {
    margin:0;
  }
  &h1 {
    font-family: $piq-font-family-sans-serif-light;
    font-size: $piq-font-size-xxl;
    line-height: $piq-line-height-xxl;
    b, strong { font-weight: $piq-font-weight-medium; }
  }
  &h2 {
    font-size: $piq-font-size-xl;
    line-height: $piq-line-height-xl;
    font-family: $piq-font-family-sans-serif-light;
    b, strong { font-weight: $piq-font-weight-medium; }
  }
  &h3 {
    font-size: $piq-font-size-l;
    line-height: $piq-line-height-l;
    font-weight: $piq-font-weight-regular;
  }
  &h4 {
    font-size: $piq-font-size-m;
    line-height: $piq-line-height-m;
    font-weight: $piq-font-weight-bold;
  }
  &h5,
  &label {
    font-size: $piq-font-size-s;
    line-height: $piq-line-height-s;
    font-weight: $piq-font-weight-bold;
  }
  &p {
    font-size: $piq-font-size-m;
    line-height: $piq-line-height-m;
  }
}

.piq-font-size-xxxl {
  font-family: $piq-font-family-sans-serif-light;
  font-size: $piq-font-size-xxxl;
  line-height: $piq-line-height-xxxl;
  b, strong { font-weight: $piq-font-weight-medium; }
}
.piq-font-size-xxl {
  font-family: $piq-font-family-sans-serif-light;
  font-size: $piq-font-size-xxl;
  line-height: $piq-line-height-xxl;
  b, strong { font-weight: $piq-font-weight-medium; }
}
.piq-font-size-xl {
  font-family: $piq-font-family-sans-serif-light;
  font-size: $piq-font-size-xl;
  line-height: $piq-line-height-xl;
  b, strong { font-weight: $piq-font-weight-medium; }
}
.piq-font-size-l {
  font-size: $piq-font-size-l;
  line-height: $piq-line-height-l;
  font-weight: $piq-font-weight-regular;
}
.piq-font-size-m {
  font-size: $piq-font-size-m;
  line-height: $piq-line-height-m;
  font-weight: $piq-font-weight-regular;
}
.piq-font-size-s {
  font-size: $piq-font-size-s;
  line-height: $piq-line-height-s;
  font-weight: $piq-font-weight-regular;
}
.piq-font-size-xs {
  font-size: $piq-font-size-xs;
  line-height: $piq-line-height-xs;
  font-weight: $piq-font-weight-regular;
}
.piq-font-size-xxs {
  font-size: $piq-font-size-xxs;
  line-height: $piq-line-height-xxs;
  font-weight: $piq-font-weight-bold;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
