
.text-muted { color: $piq-gray-50 !important; }
.text-primary { color: $piq-brand-primary !important;}
.text-success { color: $piq-green !important; }
.text-warning { color: $piq-yellow-darker !important; }
.text-danger { color: $piq-red !important; }

.text-gray-60 { color: $piq-gray-60 !important; }
.text-white { color: $piq-white !important; }
.text-white-75 { color: rgba($piq-white, 0.75) !important; }
.text-white-50 { color: rgba($piq-white, 0.5) !important; }
.text-white-25 { color: rgba($piq-white, 0.25) !important; }

.text-left { text-align: left !important; }
.text-centered { text-align: center !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

.no-padding { padding:0 !important; }
.no-margin { margin:0 !important; }
.nomargin { margin:0 !important; }
.nopadding { padding:0 !important; }

.margin-top--5 { margin-top: 5px; }
.margin-top--10 { margin-top: 10px; }
.margin-top--15 { margin-top: 15px; }
.margin-top--20 { margin-top: 20px; }
.margin-top--25 { margin-top: 25px; }
.margin-top--30 { margin-top: 30px; }
.margin-top--40 { margin-top: 40px; }
.margin-top--50 { margin-top: 50px; }

.margin-bottom--5 { margin-bottom: 5px; }
.margin-bottom--10 { margin-bottom: 10px; }
.margin-bottom--15 { margin-bottom: 15px; }
.margin-bottom--20 { margin-bottom: 20px; }
.margin-bottom--25 { margin-bottom: 25px; }
.margin-bottom--30 { margin-bottom: 30px; }
.margin-bottom--40 { margin-bottom: 40px; }
.margin-bottom--50 { margin-bottom: 50px; }

.margin-right--5 { margin-right: 5px; }
.margin-right--10 { margin-right: 10px; }
.margin-right--15 { margin-right: 15px; }
.margin-right--20 { margin-right: 20px; }
.margin-right--25 { margin-right: 25px; }
.margin-right--30 { margin-right: 30px; }
.margin-right--40 { margin-right: 40px; }
.margin-right--50 { margin-right: 50px; }

.margin-left--5 { margin-left: 5px; }
.margin-left--10 { margin-left: 10px; }
.margin-left--15 { margin-left: 15px; }
.margin-left--20 { margin-left: 20px; }
.margin-left--25 { margin-left: 25px; }
.margin-left--30 { margin-left: 30px; }
.margin-left--40 { margin-left: 40px; }
.margin-left--50 { margin-left: 50px; }
