// Grays
$piq-black: #000000 !default;
$piq-gray-base: #333333 !default;
$piq-gray-60: #666666 !default;
$piq-gray-50: #7F7F7F !default;
$piq-gray-25: #BFBFBF !default;
$piq-gray-15: #D9D9D9 !default;
$piq-gray-10: #E5E5E5 !default;
$piq-gray-05: #F2F2F2 !default;
$piq-gray-02: #FAFAFA !default;

// Whites
$piq-white: #FFFFFF !default;
$piq-white-75: rgba($piq-white, 0.75) !default;
$piq-white-50: rgba($piq-white, 0.50) !default;
$piq-white-25: rgba($piq-white, 0.25) !default;
$piq-white-10: rgba($piq-white, 0.10) !default;

// Light grays
$piq-light-gray: #F8F8FA !default;
$piq-light-gray-bright: #FAFAFC !default;
$piq-light-gray-brighter: #FCFCFD !default;

// Brand colors
$piq-brand-primary: #2095F3 !default;
$piq-brand-dark: #1C84D9 !default;
$piq-brand-darker: #1874BF !default;
$piq-brand-darkest: #1565A6 !default;

$piq-metallic: #173045 !default;
$piq-metallic-dark: #102333 !default;
$piq-metallic-darker: #112233 !default;
$piq-metallic-bright: #223E57 !default;
$piq-metallic-brighter: #2D4D6B !default;
$piq-metallic-brightest: #4C6C8C !default;

$piq-marine: #184A75 !default;


// UI colors
$piq-red: #FF415E !default;
$piq-red-dark: #E63B55 !default;
$piq-red-darker: #CC354B !default;

$piq-green: #00B896 !default;
$piq-green-dark: #009E81 !default;
$piq-green-darker: #00856C !default;

$piq-yellow: #FFEA7F !default;
$piq-yellow-dark: #FFD400 !default;
$piq-yellow-darker: #FFAC00 !default;


// Typography
$piq-font-size-xxxl: 36px !default;
$piq-font-size-xxl: 26px !default;
$piq-font-size-xl: 20px !default;
$piq-font-size-l: 16px !default;
$piq-font-size-m: 13px !default;
$piq-font-size-s: 12px !default;
$piq-font-size-xs: 11px !default;
$piq-font-size-xxs: 10px !default;

$piq-line-height-xxxl: 48px !default;
$piq-line-height-xxl: 32px !default;
$piq-line-height-xl: 28px !default;
$piq-line-height-l: 24px !default;
$piq-line-height-m: 20px !default;
$piq-line-height-s: 14px !default;
$piq-line-height-xs: 14px !default;
$piq-line-height-xxs: 12px !default;

$piq-font-weight-light: lighter !default;
$piq-font-weight-regular: normal !default;
$piq-font-weight-medium: 600 !default;
$piq-font-weight-bold: bold !default;
