
<div class="main-container" ng-controller="ComponentsController as $ctrl">

  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs">
        <ul class="subnav" ui-scrollpoint="87">
          <li du-scrollspy="color-scheme"><a href="/#/design/#color-scheme" du-smooth-scroll>Color Scheme</a></li>
          <li du-scrollspy="typography"><a href="/#/design/#typography" du-smooth-scroll>Typography</a></li>
          <li du-scrollspy="iconography"><a href="/#/design/#iconography" du-smooth-scroll>Iconography</a></li>
        </ul>
        <md-button class="piq-btn btn btn-transparent back-to-top" href="/#/design/#top" ui-scrollpoint="407" du-smooth-scroll>Back to top</md-button>
      </div>

      <div class="col-md-9">
        <section id="color-scheme">
          <div class="title-block">
            <h2>Color Scheme<a class="anchor-link" href="/#/#color-scheme"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
            <h3>The look and feel of the Plate IQ brand and product relies on using a handful of specific colors that help convey meaning and purpose.</h3>
            <h4>Brand colors</h4>
            <p>Primary brand colors are used for elements that must reflect Plate IQ's brand. <code>Brand Primary</code> is also used for primary call-to-actions and as a main UI color.</p>
          </div>
          <div class="color-panel">
            <div md-ink-ripple class="color-hue base brand-1" ng-click="copyHex($event)">
              <h4 class="color-name">Brand primary</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue brand-2" ng-click="copyHex($event)">
              <h4 class="color-name">Dark Brand</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue brand-3" ng-click="copyHex($event)">
              <h4 class="color-name">Darker Brand</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
          </div>
          <div class="color-panel">
            <div md-ink-ripple class="color-hue base metallic-1" ng-click="copyHex($event)">
              <h4 class="color-name">Metallic</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue metallic-2" ng-click="copyHex($event)">
              <h4 class="color-name">Bright Metallic</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue metallic-3" ng-click="copyHex($event)">
              <h4 class="color-name">Brighter Metallic</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
          </div>
          <div class="title-block">
            <h4 class="color-name">Light grays</h4>
            <p>Light grays are used for different layers of backgrounds. <code>Light gray</code> is the default page background. Its two brighter shades are used as backgrounds for panels. </p>
          </div>
          <div class="color-panel dark-font">
            <div md-ink-ripple class="color-hue base light-gray-1" ng-click="copyHex($event)">
              <h4 class="color-name">Light Gray</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue light-gray-2" ng-click="copyHex($event)">
              <h4 class="color-name">Light Gray bright</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue light-gray-3" ng-click="copyHex($event)">
              <h4 class="color-name">Light Gray Brighter</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
          </div>
          <div class="title-block">
            <h4 class="color-name">Grays</h4>
            <p>Gray colors are used for text, backgrounds, lines and borders. The base text color is <code>Gray Base</code> which corresponds to an 80% gray. It is recommended that <code>Black</code> is only used as a transparent color for modal backgrounds or drop shadows.</p>
          </div>
          <div class="color-panel">
            <div md-ink-ripple class="color-hue black" ng-click="copyHex($event)">
              <h4 class="color-name">Black</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue gray-80" ng-click="copyHex($event)">
              <h4 class="color-name">Gray Base</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue gray-60" ng-click="copyHex($event)">
              <h4 class="color-name">60%</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue gray-50" ng-click="copyHex($event)">
              <h4 class="color-name">50%</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
          </div>
          <div class="color-panel dark-font">
            <div md-ink-ripple class="color-hue gray-25" ng-click="copyHex($event)">
              <h4 class="color-name">25%</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue gray-15" ng-click="copyHex($event)">
              <h4 class="color-name">15%</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue gray-10" ng-click="copyHex($event)">
              <h4 class="color-name">10%</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue gray-05" ng-click="copyHex($event)">
              <h4 class="color-name">5%</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
          </div>
          <div class="title-block">
            <h4 class="color-name">UI Colors</h4>
            <p>The main UI colors are used for action buttons, icons, alert messages and feedback.</p>
          </div>
          <div class="color-panel">
            <div md-ink-ripple class="color-hue base green-1" ng-click="copyHex($event)">
              <h4 class="color-name">Green</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue green-2" ng-click="copyHex($event)">
              <h4 class="color-name">Dark Green</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue green-3" ng-click="copyHex($event)">
              <h4 class="color-name">Darker Green</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
          </div>
          <div class="color-panel dark-font">
            <div md-ink-ripple class="color-hue base yellow-1" ng-click="copyHex($event)">
              <h4 class="color-name">Yellow</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue yellow-2" ng-click="copyHex($event)">
              <h4 class="color-name">Dark Yellow</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue yellow-3" ng-click="copyHex($event)">
              <h4 class="color-name">Darker Yellow</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
          </div>
          <div class="color-panel">
            <div md-ink-ripple class="color-hue base red-1" ng-click="copyHex($event)">
              <h4 class="color-name">Red</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue red-2" ng-click="copyHex($event)">
              <h4 class="color-name">Dark Red</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
            <div md-ink-ripple class="color-hue red-3" ng-click="copyHex($event)">
              <h4 class="color-name">Darker Red</h4>
              <p class="hex"></p>
              <p class="rgba"></p>
            </div>
          </div>
        </section>

        <section id="typography">
          <div class="title-block">
            <h2>Typography<a class="anchor-link" href="/#/#typography"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
            <h3>The font scale consists of 9 different font sizes. The default size applied to the <code>body</code> is Medium.</h3>
            <p>The default font used is <code>Helvetica Neue</code>. On Windows computers the system font <code>Segoe UI</code> is used if <code>Helvetica Neue</code> is not installed. If neither is available the app defaults to <code>Helvetica</code>, <code>Arial</code> or the system's default <code>sans-serif</code> font.</p>
          </div>
          <div class="component-panel">
            <div class="row">
              <div class="col-md-12">
                <p class="font-size-xxxl">The quick brown fox jumps over the lazy dog.</p>
                <p class="font-size-s description">36px - Extra extra extra large</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="font-size-xxl">The quick brown fox jumps over the lazy dog.</p>
                <p class="font-size-s description">26px - Extra extra larga</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="font-size-xl">The quick brown fox jumps over the lazy dog.</p>
                <p class="font-size-s description">20px - Extra large</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="font-size-l">The quick brown fox jumps over the lazy dog.</p>
                <p class="font-size-s description">16px - Large</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="font-size-m">The quick brown fox jumps over the lazy dog.</p>
                <p class="font-size-s description">13px - Medium</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="font-size-s">The quick brown fox jumps over the lazy dog.</p>
                <p class="font-size-s description">12px - Small</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="font-size-xs">The quick brown fox jumps over the lazy dog.</p>
                <p class="font-size-s description">11px - Extra small</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="font-size-xxs">The quick brown fox jumps over the lazy dog.</p>
                <p class="font-size-s description">10px - Extra extra small</p>
              </div>
            </div>
          </div>
        </section>

        <section id="iconography">
          <div class="title-block">
            <h2>Iconography<a class="anchor-link" href="/#/#iconography"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
            <h3>Coming soon.</h3>
          </div>

        </section>

      </div>
    </div>
  </div>
</div>
