<!-- <header class="components-header">
  <div class="container-fluid header-top">
    <img class="logo" src="img/plateiq-logo-blue-white.svg" alt="Plate IQ Logo">
  </div>
  <div class="container">
    <h1>Plate IQ<br><strong>UI Framework</strong></h1>
  </div>
</header> --> 

<div id="#top" class="top-nav" ng-controller="NavController">
  <div class="container">
    <ul class="nav">
      <li ng-class="{ active: isActive('/design') || isActive('/') }">
        <a md-ink-ripple href="/#/design"><img src="img/icon_components_design.svg" alt="Design"><div>Design</div></a>
      </li>
      <li ng-class="{ active: isActive('/components') }">
        <a md-ink-ripple href="/#/components"><img src="img/icon_components_components.svg" alt="Design"><div>Components</div></a>
      </li>
      <li ng-class="{ active: isActive('/tables') }">
        <a md-ink-ripple href="/#/tables"><img src="img/icon_components_tables.svg" alt="Design"><div>Tables</div></a>
      </li>
    </ul>
  </div>
</div>

<div ng-view>

</div>
