<div class="main-container" ng-controller="ComponentsController as $ctrl">

  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs">
        <ul class="subnav" ui-scrollpoint="87">
          <li du-scrollspy="basic-tables"><a href="/#/tables/#basic-tables" du-smooth-scroll>Basic Tables</a></li>
          <li du-scrollspy="advanced-tables"><a href="/#/tables/#advanced-tables" du-smooth-scroll>Advanced Tables</a></li>
          <li du-scrollspy="table-buttons"><a href="/#/tables/#table-buttons" du-smooth-scroll>Table Buttons</a></li>
          <li du-scrollspy="table-lines"><a href="/#/tables/#table-lines" du-smooth-scroll>Table Lines</a></li>
        </ul>
      </div>
      <div class="col-md-9">

        <section id="basic-tables">
          <div class="title-block">
            <h2>Basic Tables<a class="anchor-link" href="/#/tables/#basic-tables"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
            <h3>Lorem ipsum dolor sit amet consectet Lorem ipsum dolor sit amet consectett</h3>
            <p>Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett</p>
          </div>
          <table class="piq-table table">
            <tr>
              <th>Vendor<i class="fa fa-sort"></i></th>
              <th class="text-right">Invoice number<i class="fa fa-sort"></i></th>
              <th class="text-right">Total<i class="fa fa-sort"></i></th>
              <th class="text-right">Invoice Date<i class="fa fa-sort"></i></th>
              <th class="text-right">Due Date<i class="fa fa-sort"></i></th>
            </tr>
            <tr ng-repeat="invoice in invoices | filter : searchTermTable | limitTo: 5">
              <td>{{ invoice.vendor }}</td>
              <td class="text-right">{{ invoice.invoiceNumber }}</td>
              <td class="text-right">{{ invoice.total }}</td>
              <td class="text-right">{{ invoice.invoiceDate }}</td>
              <td class="text-right">{{ invoice.dueDate }}</td>
            </tr>
          </table>
        </section>

        <section id="advanced-tables">
          <div class="title-block">
            <h2>Advanced Tables<a class="anchor-link" href="/#/tables/#tables"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
            <h3>Lorem ipsum dolor sit amet consectet Lorem ipsum dolor sit amet consectett</h3>
            <p>Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett</p>
          </div>

          <div class="piq-table-group"> <!-- Table group with filter, headers and footers -->
            <div class="table-header clearfix">
              <div class="pull-left">
                <div class="btn-group piq-dropdown" uib-dropdown> <!-- Dropdown with (Bulk-) actions -->
                  <md-button id="dropdown-bulk" class="piq-btn btn piq-dropdown-toggle" uib-dropdown-toggle>Actions <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
                  </md-button>
                  <ul class="piq-dropdown-menu dropdown-menu-big" uib-dropdown-menu role="menu" aria-labelledby="#dropdown-bulk">
                    <li role="menuitem" ng-disabled="selectedCheckbox.length == 0"><a href="/#/" md-ink-ripple>Resolve flag</a></li>
                    <li role="menuitem" ng-disabled="selectedCheckbox.length == 0"><a href="/#/" md-ink-ripple>Mark as exported</a></li>
                    <li class="divider"></li>
                    <li class="destructive" role="menuitem" ng-disabled="selectedCheckbox.length == 0"><a href="/#/" md-ink-ripple>Delete&nbsp;&nbsp;<i class="fa fa-trash-o pull-right" aria-hidden="true"></i></a></li>
                    <li class="divider" ng-hide="selectedCheckbox.length > 0"></li>
                    <li class="info" ng-hide="selectedCheckbox.length > 0">Select invoices to see more actions</li>
                  </ul>
                </div>
                <span class="piq-badge padge badge-primary badge-bulk" ng-show="selectedCheckbox.length > 0"> <!-- Badge with selected item count -->
                  {{selectedCheckbox.length}} selected
                </span>
              </div>
              <div class="pull-right">
                <md-button class="piq-btn btn" ng-click="showFilter = !showFilter"><i class="fa fa-sliders" aria-hidden="true"></i> <!-- Filter button -->
                  Filter<span class="piq-badge padge badge-square badge-primary" ng-show="applyFilter">3</span>
                </md-button>
                <div class="piq-input-with-icon input-search"> <!-- Search field -->
                  <input type="text" class="form-control" placeholder="Search invoices" aria-invalid="false" ng-model="searchTerm">
                  <i class="fa fa-search" aria-hidden="true" ng-hide="searchTerm.length"></i>
                  <i class="fa fa-remove hover" aria-hidden="true" ng-hide="!searchTerm.length" ng-click="clearSearch()"></i>
                </div>
              </div>
            </div>

            <div class="table-filter" uib-collapse="!showFilter"> <!-- Filter collapsible -->
              <div class="filter-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="filter-row clearfix">
                      <div class="filter-label col-md-4"><label for="input-1">Document Type</label></div>
                      <div class="filter-content col-md-8">
                        <md-select ng-model="filterDocumentType" placeholder="Select a date range" class="piq-md-select">
                          <md-option value="All Documents">All Documents</md-option>
                          <md-option value="Invoices">Invoices</md-option>
                          <md-option value="Credit Memos">Credit Memos</md-option>
                          <md-option value="Invoices and Credit Memos">Invoices and Credit Memos</md-option>
                          <md-option value="Statements">Statements</md-option>
                        </md-select>
                      </div>
                    </div>
                    <div class="filter-row clearfix">
                      <div class="filter-label col-md-4"><label for="input-1">Vendors</label></div>
                      <div class="filter-content col-md-8">
                        <ui-select multiple ng-model="filerVendor.selected" close-on-select="false" theme="bootstrap" class="piq-ui-select">
                          <ui-select-match	placeholder="Select vendors">{{$item.vendor}}</ui-select-match>
                          <ui-select-choices repeat="invoice in invoices | filter: $select.search">
                            <span ng-bind-html="invoice.vendor | highlight: $select.search"></span>
                          </ui-select-choices>
                          <ui-select-no-choice>
                            Snap! We couldn't find any results...
                          </ui-select-no-choice>
                        </ui-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="filter-row clearfix">
                      <div class="filter-label col-md-4"><label for="input-1">Action</label></div>
                      <div class="filter-content col-md-8">
                        <md-select ng-model="filterState" placeholder="Select a date range" class="piq-md-select">
                          <md-option value="Dated">Dated</md-option>
                          <md-option value="Uploaded">Uploaded</md-option>
                          <md-option value="Exported">Exported</md-option>
                          <md-option value="Approved">Approved</md-option>
                        </md-select>
                      </div>
                    </div>
                    <div class="filter-row clearfix">
                      <div class="filter-label col-md-4"><label for="input-1">Time Range</label></div>
                      <div class="filter-content col-md-8">
                        <md-select ng-model="filterTimeRange" placeholder="Select a date range" class="piq-md-select">
                          <md-option value="Today">Today</md-option>
                          <md-option value="Yesterday">Yesterday</md-option>
                          <md-option value="Last 7 days">Last 7 days</md-option>
                          <md-option value="This month">This month</md-option>
                          <md-option value="Last 30 days">Last 30 days</md-option>
                          <md-option value="Last 3 months">Last 3 months</md-option>
                          <md-option value="Last 1 year">Last 1 year</md-option>
                          <md-option value="Anytime">Anytime</md-option>
                          <md-option value="Custom date range">Custom date range</md-option>
                        </md-select>
                      </div>
                    </div>
                    <div class="filter-row clearfix" ng-show="filterTimeRange == 'Custom date range'">
                      <div class="filter-label col-md-4"><label for="input-1">From</label></div>
                      <div class="filter-content col-md-8">
                        <div class="piq-input-group input-group date" data-provide="datepicker">
                          <input type="text" class="form-control date-picker-input" placeholder="Please enter a date">
                          <span class="input-group-btn">
                            <md-button class="piq-btn btn btn-square">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </md-button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="filter-row clearfix" ng-show="filterTimeRange == 'Custom date range'">
                      <div class="filter-label col-md-4"><label for="input-1">To</label></div>
                      <div class="filter-content col-md-8">
                        <div class="piq-input-group input-group date" data-provide="datepicker">
                          <input type="text" class="form-control date-picker-input" placeholder="Please enter a date">
                          <span class="input-group-btn">
                            <md-button class="piq-btn btn btn-square">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                            </md-button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="table-footer clearfix"> <!-- Filter footer -->
                <div class="pull-right">
                  <md-button class="piq-btn btn btn-highlight-danger" ng-click="clearFilters(); applyFilter = false"><i class="fa fa-trash-o" aria-hidden="true"></i>Clear all filters</md-button>
                  <md-button class="piq-btn btn btn-primary" ng-click="buttonLoad(); applyFilter = true" ng-disabled="loading">
                    <span class="loader" ng-show="loading"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span>Apply filters
                  </md-button>
                </div>
              </div>
            </div> <!-- / Table filters -->

            <table class="piq-table table"> <!-- Basic HTML5 Table -->
              <tr>
                <th class="fit-content">
                  <md-checkbox class="piq-md-checkbox" aria-label="checkbox" ng-checked="isChecked()"
                  md-indeterminate="isIndeterminate()"
                  ng-click="toggleAll()"></md-checkbox>
                </th>
                <th>Vendor<i class="fa fa-sort"></i></th>
                <th class="text-right">Invoice number<i class="fa fa-sort"></i></th>
                <th class="text-right">Total<i class="fa fa-sort"></i></th>
                <th class="text-right">Invoice Date<i class="fa fa-sort"></i></th>
                <th class="text-right">Due Date<i class="fa fa-sort"></i></th>
              </tr>
              <tr ng-repeat="invoice in filteredInvoices = (invoices | filter : searchTerm | limitTo: 20)">
                <td class="fit-content">
                  <md-checkbox class="piq-md-checkbox" aria-label="checkbox" ng-checked="exists(invoice, selectedCheckbox)" ng-click="toggle(invoice, selectedCheckbox)"></md-checkbox>
                </td>
                <td>{{ invoice.vendor }}</td>
                <td class="text-right">{{ invoice.invoiceNumber }}</td>
                <td class="text-right">{{ invoice.total }}</td>
                <td class="text-right">{{ invoice.invoiceDate }}</td>
                <td class="text-right">{{ invoice.dueDate }}</td>
              </tr>
            </table>

            <div class="table-no-results" ng-if="!filteredInvoices.length"> <!-- Empty state if no search/filter results -->
              <img src="img/icon_no_results.svg" alt="No results">
              <p class="font-size-l text-muted">Snap! There aren't any results.</p>
            </div>

            <div class="table-footer clearfix"> <!-- Table footer with pagination -->
              <div class="pull-right">
                <p class="piq-pager-indicator pager-indicator">Showing <b>{{(currentPage - 1) * itemsPerPage + 1}} to {{currentPage * itemsPerPage}}</b> of {{totalItems}}</p>
                <ul uib-pager class="piq-pager" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" previous-text="&#xf104;" next-text="&#xf105;" align="false"></ul>
              </div>
            </div>
          </div><!-- / piq-table-group -->

          <div class="component-panel">
            <div class="row code-block">
              <pre class="col-md-12"><code class="html">&lt;div class="missing"&gt;Work in progress&lt;/div&gt;<br>&lt;div class="missing"&gt;Work in progress&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>


        <section id="table-buttons">

          <div class="title-block">
            <h4>Table content</h4>
            <p>Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett</p>
          </div>
          <table class="piq-table table">
            <tr>
              <th class="fit-content">
                <md-checkbox class="piq-md-checkbox" aria-label="checkbox" ng-checked="isChecked()"
                md-indeterminate="isIndeterminate()"
                ng-click="toggleAll()"></md-checkbox>
              </th>
              <th>Vendor<i class="fa fa-sort"></i></th>
              <th class="text-right">Invoice number<i class="fa fa-sort"></i></th>
              <th class="text-right">Total<i class="fa fa-sort"></i></th>
              <th class="text-right">Invoice Date<i class="fa fa-sort"></i></th>
              <th class="text-right">Due Date<i class="fa fa-sort"></i></th>
              <th></th>
            </tr>
            <tr>
              <td class="fit-content">
              </td>
              <td>
                <ui-select class="piq-ui-select" ng-model="filterVendor.selected">
                  <ui-select-match allow-clear="true"	placeholder="Search all vendors">{{$select.selected.vendor}}</ui-select-match>
                  <ui-select-choices repeat="invoice in invoices | filter: $select.search">
                    <span ng-bind-html="invoice.vendor | highlight: $select.search"></span>
                  </ui-select-choices>
                  <ui-select-no-choice>
                    Snap! We couldn't find any results...
                  </ui-select-no-choice>
                </ui-select>
              </td>
              <td><input type="text" class="form-control right-aligned" value="81237128"></td>
              <td><input type="number" class="form-control right-aligned" value="133.20"></td>
              <td>
                <div class="piq-input-group input-group date" data-provide="datepicker">
                  <input type="text" class="form-control date-picker-input" placeholder="Please enter a date">
                  <span class="input-group-btn">
                    <md-button class="piq-btn btn btn-square">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </md-button>
                  </span>
                </div>
              </td>
              <td>
                <div class="piq-input-group input-group date" data-provide="datepicker">
                  <input type="text" class="form-control date-picker-input" placeholder="Please enter a date">
                  <span class="input-group-btn">
                    <md-button class="piq-btn btn btn-square">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </md-button>
                  </span>
                </div>
              </td>
              <td class="text-right fit-content">
                <div class="btn-group">
                  <md-button class="piq-btn btn btn-square btn-highlight-danger">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </md-button>
                  <md-button class="piq-btn btn btn-square btn-highlight-success">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </md-button>
                </div>
              </td>
            </tr>
            <tr ng-repeat="invoice in filteredInvoices = (invoices | filter : searchTerm | limitTo: 5)">
              <td class="fit-content">
                <md-checkbox class="piq-md-checkbox" aria-label="checkbox" ng-checked="exists(invoice, selectedCheckbox)" ng-click="toggle(invoice, selectedCheckbox)"></md-checkbox>
              </td>
              <td>{{ invoice.vendor }}</td>
              <td class="text-right">{{ invoice.invoiceNumber }}</td>
              <td class="text-right">{{ invoice.total }}</td>
              <td class="text-right">{{ invoice.invoiceDate }}</td>
              <td class="text-right">{{ invoice.dueDate }}</td>
              <td class="text-right fit-content">
                <md-button class="piq-btn btn btn-square btn-transparent">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </md-button>
                <md-button class="piq-btn btn btn-square btn-highlight-danger btn-transparent">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </md-button>
              </td>
            </tr>
          </table>

          <div class="component-panel">
            <div class="row code-block">
              <pre class="col-md-12"><code class="html">&lt;div class="missing"&gt;Work in progress&lt;/div&gt;<br>&lt;div class="missing"&gt;Work in progress&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>

        <section id="table-lines">
          <div class="title-block">
            <h4>Table content</h4>
            <p>Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett Lorem ipsum dolor sit amet consectett</p>
          </div>

          <table class="piq-table table">
            <tr>
              <th class="fit-content">
                <md-checkbox class="piq-md-checkbox" aria-label="checkbox" ng-checked="isChecked()"
                md-indeterminate="isIndeterminate()"
                ng-click="toggleAll()"></md-checkbox>
              </th>
              <th>Vendor<i class="fa fa-sort"></i></th>
              <th></th>
              <th class="text-right">Total<i class="fa fa-sort"></i></th>
              <th class="text-right">Invoice Date<i class="fa fa-sort"></i></th>
              <th class="text-right">Due Date<i class="fa fa-sort"></i></th>
              <th></th>
            </tr>
            <tr ng-repeat="invoice in filteredInvoices = (invoices | filter : searchTerm | limitTo: 5)">
              <td class="fit-content">
                <md-checkbox class="piq-md-checkbox" aria-label="checkbox" ng-checked="exists(invoice, selectedCheckbox)" ng-click="toggle(invoice, selectedCheckbox)"></md-checkbox>
              </td>
              <td>
                {{ invoice.vendor }}
                <p class="text-muted font-size-xs">{{ invoice.invoiceNumber }}</p>
              </td>
              <td class="fit-content">
                <span uib-tooltip="This vendor needs mapping" tooltip-append-to-body="true" class="piq-badge padge badge-outline-danger">Vendor mapping</span>
                <span uib-tooltip-template="'tooltip-multi-line.html'" tooltip-class="tooltip-lg" tooltip-append-to-body="true" class="piq-badge padge badge-outline-success">Paid</span>
              </td>
              <td class="text-right">
                {{ invoice.total }}
                <p class="text-muted font-size-xs">Last order: {{ invoice.total }}</p>
              </td>
              <td class="text-right">{{ invoice.invoiceDate }}</td>
              <td class="text-right">{{ invoice.dueDate }}</td>
              <td class="text-right fit-content">
                <md-button class="piq-btn btn btn-square btn-highlight-primary btn-transparent">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </md-button>
              </td>
            </tr>
          </table>

          <script type="text/ng-template" id="tooltip-multi-line.html">
            <label for="#approvedBy">Paid by</label>
            <p id="approvedBy">John Doe</p>
            <div class="divider"></div>
            <label for="#approvedOn">Paid on</label>
            <p id="approvedOn">Mar 15, 2017</p>
          </script>

          <div class="component-panel">
            <div class="row code-block">
              <pre class="col-md-12"><code class="html">&lt;div class="missing"&gt;Work in progress&lt;/div&gt;<br>&lt;div class="missing"&gt;Work in progress&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
