$piq-code-class: #d14;


html, body, #root {
  margin: 0;
  background-color: $piq-white;
  height: 100%;
  font-family: $piq-font-family-sans-serif;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.components-header {
  background: $piq-metallic;
  background: -moz-radial-gradient(bottom center, ellipse cover, #184A75 0%, $piq-metallic 75%);
  background: -webkit-radial-gradient(bottom center, ellipse cover, #184A75 0%, $piq-metallic 75%);
  background: radial-gradient(bottom center, #184A75 0%, $piq-metallic 75%);
  background-attachment: fixed;
  height:300px;
  overflow: hidden;

  .header-top {
    height: 60px;
    .logo {
      height: 40px;
      margin: 10px 0;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 60px;
    font-family: $piq-font-family-sans-serif-light;
    font-weight: $piq-font-weight-light;
    letter-spacing: 0.02em;
    color: $piq-white;
    text-align: center;
    margin-top: 30px;
  }
}

.top-nav {
  background-color: $piq-light-gray-bright;
  border-bottom: 1px solid $piq-gray-10;
  text-align: center;
  margin-bottom: 20px;
  .nav {
    display: inline-block;
    > li {
      display: inline-block;
      a {
        font-size: $piq-font-size-m;
        line-height: $piq-line-height-m;
        font-weight: $piq-font-weight-medium;
        color: $piq-gray-base;
        text-align: center;
        padding: 20px 25px 15px;
        @include transition-duration-s();

        img {
          height: 22px;
          margin-bottom: 10px;
        }

        &:hover,
        &:focus {
          background-color: transparent;
          opacity: 0.5;
        }
      }

      &.active a {
        opacity: 0.5;
      }
    }
  }
}



.subnav {
  list-style-type: none;
  padding:0;
  margin-top: 80px;
  &.ui-scrollpoint {
    position: fixed;
    top: 0;
  }
  li a {
    display: block;
    color: $piq-gray-base;
    font-size: $piq-font-size-m;
    font-weight: $piq-font-weight-medium;
    padding:4px 0;
    letter-spacing: 0.03em;
    &:hover,
    &:focus,
    &:active, {
      background-color: transparent;
      color:$piq-gray-25;
      text-decoration: none;
    }
  }

  li.active a {
    color:$piq-gray-25;
  }
}

.btn.back-to-top {
  position: fixed;
  bottom: 50px;
  margin-left: -12px;
  opacity: 0;
  @include transform(translateY(100%));

  &.ui-scrollpoint {
    opacity: 0.5;
    @include transform(translateY(0));
  }

}


section {
  padding-top: 60px;
  margin-bottom: 40px;
  .content {
    >h2 {
      margin-top: 0;
      margin-bottom: 30px;
    }
    >h3 {
    }
    >p {
      color: $piq-gray-60;
    }
  }

  .title-block {
    h1, h2, h3, h4, h5, p {
      margin-top:0;
      max-width: 75%;
    }
    h2, h3 {
      margin-top: 0;
      margin-bottom: 30px;
      font-family: $piq-font-family-sans-serif-light;
      font-weight: $piq-font-weight-light;
      letter-spacing: 0.02em;
    }
    h4, p {
      font-size: 16px;
      line-height: 28px;
      margin:0;
    }
    h1 {
      font-size: 52px;
      line-height: 60px;
      margin-bottom: 40px;
      font-family: $piq-font-family-sans-serif;
      font-weight: $piq-font-weight-medium;
    }
    h2 {
      font-size: 40px;
      line-height: 60px;
    }
    h3 {
      font-size: 22px;
      line-height: 33px;
      color: $piq-gray-60;
    }
    h4 {
      font-weight: $piq-font-weight-bold;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 25px;
    }
    *:hover .anchor-link .fa {
      opacity: 1;
    }
  }

  .component-panel {
    background-color: $piq-light-gray-brighter;
    border: 1px solid $piq-gray-10;
    border-radius: 2px;
    margin: 20px 0 60px;

    >.row {
      padding: 24px 16px;
      margin:0;
      border-bottom: 1px solid $piq-gray-10;
      &:last-of-type {
        border-bottom: none;
      }
    }

    >.row.code-block {
      background-color: $piq-light-gray;
        pre {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;

        code {
          background-color: transparent;
          padding: 0 15px;
        }
      }
    }

    .description {
      color: $piq-gray-50;
      margin: 16px 0 0;
    }
  }
}


.preview-block-dark {
  background-color: $piq-metallic;
}

.anchor-link .fa {
  margin-left: 15px;
  margin-bottom: 8px;
  font-size: 60%;
  color: rgba($piq-gray-base,0.5);
  opacity: 0;
  vertical-align: middle;
  @include transition-duration-s();
  &:hover {
    color: rgba($piq-gray-base,1);
  }
}


code {
  font-size: 75%;
  color: $piq-code-class;
  background-color: $piq-gray-05;
  border-radius: 2px;
  padding: 6px 6px 4px;
  white-space: nowrap;
}




#typography {
  .component-panel .row p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#tooltips .badge {
  float: left;
  margin-right: 10px;
}
