.color-panel {
  display: flex;
  border-radius: 2px;
  margin-bottom:10px;
  color: $piq-white;

  & + .title-block {
    margin-top: 50px;
  }
  &.dark-font {
    color: $piq-gray-base;
  }

  .color-hue {
    position: relative;
    width: 25%;
    padding: 25px 30px;
    @include transition-duration-m();
    cursor:pointer;
    outline: none !important;

    &:hover {
      @include transform(scale(1.04));
      @include box-shadow(0px 15px 40px -15px rgba($piq-gray-base, 0.2));
      z-index: 1000;
      border-radius: 3px;

      h4.color-name {
        @include transform(translateY(-1.5em));
        opacity: 0;
      }
      h4.copy-hex {
        @include transform(translateY(0));
        opacity: 1;
      }
      p.hex {
        opacity: 1;
      }
    }

    &:hover.copied {
      h4.copy-hex {
        @include transform(translateY(-1.5em));
        opacity: 0;
      }
      h4.copied-hex {
        @include transform(translateY(0));
        opacity: 1;
      }
    }

    h4, p {
      @include transition-duration-m();
    }

    h4.color-name {
      margin: 0 0 8px;
    }
    h4.copy-hex,
    h4.copied-hex {
      margin:0;
      position:absolute;
      top:25px;
      left:30px;
      @include transform(translateY(1.5em));
      opacity: 0;
    }

    p {
      opacity: 0.75;
      margin:0 0 4px;
    }

    &:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &.base {
      width: 50%;
    }

    &.brand-1 {
      background-color: $piq-brand-primary;
    }
    &.brand-2 {
      background-color: $piq-brand-dark;
    }
    &.brand-3 {
      background-color: $piq-brand-darker;
    }

    &.metallic-1 {
      background-color: $piq-metallic;
    }
    &.metallic-2 {
      background-color: $piq-metallic-bright;
    }
    &.metallic-3 {
      background-color: $piq-metallic-brighter;
    }

    &.light-gray-1 {
      background-color: $piq-light-gray;
    }
    &.light-gray-2 {
      background-color: $piq-light-gray-bright;
    }
    &.light-gray-3 {
      background-color: $piq-light-gray-brighter;
    }

    &.black {
      background-color: $piq-black;
    }
    &.gray-80 {
      background-color: $piq-gray-base;
    }
    &.gray-60 {
      background-color: $piq-gray-60;
    }
    &.gray-50 {
      background-color: $piq-gray-50;
    }
    &.gray-25 {
      background-color: $piq-gray-25;
    }
    &.gray-15 {
      background-color: $piq-gray-15;
    }
    &.gray-10 {
      background-color: $piq-gray-10;
    }
    &.gray-05 {
      background-color: $piq-gray-05;
    }

    &.green-1 {
      background-color: $piq-green;
    }
    &.green-2 {
      background-color: $piq-green-dark;
    }
    &.green-3 {
      background-color: $piq-green-darker;
    }

    &.yellow-1 {
      background-color: $piq-yellow;
    }
    &.yellow-2 {
      background-color: $piq-yellow-dark;
    }
    &.yellow-3 {
      background-color: $piq-yellow-darker;
    }

    &.red-1 {
      background-color: $piq-red;
    }
    &.red-2 {
      background-color: $piq-red-dark;
    }
    &.red-3 {
      background-color: $piq-red-darker;
    }
  }
}
